@using WrpCcNocWeb.Models

@{
    ViewData["Title"] = "New User Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block btn-blue">Back to User Group List</button>
                        @*@Html.ActionLink("Back to User Group List", "viewUserGroups", "account")*@
                        <br />
                    </div>
                    <div class="col-md-9">
                        <h4 class="header-title mb-3"> <b>New User Group Creation</b></h4>
                        @using (Html.BeginForm("createusergroup", "account", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateUserGroupForm", role = "form" }))
                        {
                            <div class="form-group mb-3">
                                <label for="ddlUserGroupType">Group Type</label>
                                <select id="ddlUserGroupType" class="form-control">
                                    <option value="">Choose...</option>
                                    <option value="WARPO">WARPO</option>
                                    <option value="Non-WARPO">Non-WARPO</option>
                                </select>
                            </div>

                            <div class="form-group mb-3">
                                <label for="AuthorityLevelId">Authority Level</label>
                                <select id="AuthorityLevelId" name="AuthorityLevelId" class="form-control">
                                    <option value="">Choose...</option>

                                    @{
                                        List<LookUpAdminModAuthorityLevel> _als = ViewBag.AdminModAuthorityLevel;

                                        if (_als.Count > 0)
                                        {
                                            foreach (LookUpAdminModAuthorityLevel al in _als)
                                            {
                                                <option value="@al.AuthorityLevelId">@al.AuthorityLevel</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div id="divDistrict" class="form-group mb-3 d-none">
                                <label for="DistrictGeoCode">District</label>
                                <select id="DistrictGeoCode" name="DistrictGeoCode" class="form-control" required="">
                                    <option value="">Choose..</option>

                                    @{
                                        List<LookUpAdminBndDistrict> _districts = ViewBag.LookUpAdminBndDistrict;

                                        if (_districts.Count > 0)
                                        {
                                            foreach (LookUpAdminBndDistrict dist in _districts)
                                            {
                                                <option value="@dist.DistrictGeoCode">@dist.DistrictName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div id="divUpazila" class="form-group mb-3 d-none">
                                <label for="UpazilaGeoCode">Upazila</label>
                                <select id="UpazilaGeoCode" name="UpazilaGeoCode" class="form-control">
                                    <option value="">Choose..</option>
                                </select>
                            </div>

                            <div id="divUnion" class="form-group mb-3 d-none">
                                <label for="UnionGeoCode">Union</label>
                                <select id="UnionGeoCode" name="UnionGeoCode" class="form-control">
                                    <option value="">Choose..</option>
                                </select>
                            </div>

                            <div class="form-group mb-3">
                                <label for="UserGroupName">Group Name</label>
                                <input id="UserGroupName" name="UserGroupName" type="text" class="form-control form-control-sm" placeholder="User group name" style="height: 40px;">
                            </div>

                            <div class="form-group mb-0">
                                <button id="btnSaveUserGroup" type="submit" class="btn btn-info waves-effect waves-light">
                                    <span class="btn-label"><i class="mdi mdi-content-save"></i></span>
                                    <span style="text-decoration: underline;">S</span>ave
                                    <span class="myspinner spinner-border spinner-border-sm mr-1 d-none"></span>
                                </button>

                                <button id="btnClearUserGroup" type="button" class="btn btn-secondary waves-effect waves-light">
                                    <span class="btn-label"><i class="mdi mdi-close-outline"></i></span>
                                    Clear
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts {
    <script type="text/javascript">
        jQuery("#DistrictGeoCode").change(function () {
            var code = jQuery(this).val();
            var text = jQuery("#DistrictGeoCode option:selected").text();
            var auth_level_name = jQuery("#AuthorityLevelId option:selected").text();
            var type = 'upz';

            if (code != '') {
                jQuery("#UpazilaGeoCode, #UnionGeoCode").html('<option value="">Choose...</option>');
                GetAdminData(code, type);
                AutoGenGroupName(text, auth_level_name);
            }
        });

        jQuery("#UpazilaGeoCode").change(function () {
            var type = 'uni';
            var code = jQuery(this).val();
            var text = jQuery("#UpazilaGeoCode option:selected").text();
            var dist = jQuery("#DistrictGeoCode option:selected").text();
            var auth_level_name = jQuery("#AuthorityLevelId option:selected").text();
            auth_level_name = auth_level_name + ', ' + dist;

            if (code != '') {
                jQuery("#UnionGeoCode").html('<option value="">Choose...</option>');
                GetAdminData(code, type);
                AutoGenGroupName(text, auth_level_name);
            }
        });

        jQuery("#UnionGeoCode").change(function () {
            var code = jQuery(this).val();
            var text = jQuery("#UnionGeoCode option:selected").text();
            var dist = jQuery("#DistrictGeoCode option:selected").text();
            var upaz = jQuery("#UpazilaGeoCode option:selected").text();
            var auth_level_name = jQuery("#AuthorityLevelId option:selected").text();
            auth_level_name = auth_level_name + ', ' + upaz + ', ' + dist;

            if (code != '') {
                AutoGenGroupName(text, auth_level_name);
            }
        });

        jQuery("#AuthorityLevelId").change(function () {
            var userGroupType = jQuery("#ddlUserGroupType").val();
            var val = jQuery("#AuthorityLevelId option:selected").val();
            var text = jQuery("#AuthorityLevelId option:selected").text();

            if (userGroupType === 'WARPO') {

            } else {
                if (val != '') {
                    if (text.indexOf("District") >= 0) {
                        console.log('yes has district');

                        jQuery("#divDistrict").removeClass('d-none').addClass('d-block');
                        jQuery("#divUpazila").removeClass('d-block').addClass('d-none');
                        jQuery("#divUnion").removeClass('d-block').addClass('d-none');
                    } else if (text.indexOf("Upazila") >= 0) {
                        console.log('yes has upazila');

                        jQuery("#divDistrict").removeClass('d-none').addClass('d-block');
                        jQuery("#divUpazila").removeClass('d-none').addClass('d-block');
                        jQuery("#divUnion").removeClass('d-block').addClass('d-none');
                    } else {
                        console.log('yes has union');

                        jQuery("#divDistrict").removeClass('d-none').addClass('d-block');
                        jQuery("#divUpazila").removeClass('d-none').addClass('d-block');
                        jQuery("#divUnion").removeClass('d-none').addClass('d-block');
                    }

                    jQuery("#DistrictGeoCode").val('');
                    jQuery("#UserGroupName").val('');
                    jQuery("#UpazilaGeoCode").html('<option value="">Choose...</option>');
                    jQuery("#UnionGeoCode").html('<option value="">Choose...</option>');
                }
            }
        });

        function AutoGenGroupName(adm_bndr_name, auth_level_name) {
            var gn = '';

            if (auth_level_name.indexOf("District") >= 0) {
                gn = auth_level_name.replace("District", adm_bndr_name + " District");
                jQuery("#UserGroupName").val(gn);
            }

            if (auth_level_name.indexOf("Upazila") >= 0) {
                gn = auth_level_name.replace("Upazila", adm_bndr_name + " Upazila");
                jQuery("#UserGroupName").val(gn);
            }

            if (auth_level_name.indexOf("Union") >= 0) {
                gn = auth_level_name.replace("Union", adm_bndr_name + " Union");
                jQuery("#UserGroupName").val(gn);
            }
        }

        function GetAdminData(code, type) {
            var url = '@Url.Action("gab", "common")';

            jQuery.ajax({
                type: "GET",
                url: url,
                data: { code: code, type: type },
                dataType: "json",
                success: function (data, status, jqXHR) {
                    console.log(data);
                    jQuery("#UpazilaGeoCode").html('<option value="">Choose...</option>');
                    jQuery("#UnionGeoCode").html('<option value="">Choose...</option>');

                    if (type == 'upz') {
                        //jQuery("#UpazilaGeoCode").html('<option value="">Choose...</option>');

                        jQuery.each(data, function (i, item) {
                            var content = '<option value="' + item.code + '">' + item.ab_name + '</option>';
                            jQuery("#UpazilaGeoCode").append(content);
                        });
                    } else if (type == 'uni') {
                        //jQuery("#UnionGeoCode").html('<option value="">Choose...</option>');

                        jQuery.each(data, function (i, item) {
                            var content = '<option value="' + item.code + '">' + item.ab_name + '</option>';
                            jQuery("#UnionGeoCode").append(content);
                        });
                    }
                }, error: function (jqXHR, exception) {
                    var errorMsg = AjaxErrorHandle(jqXHR, exception);
                    Notification('error', 'Error Occured', errorMsg);
                }
            });
        }

        function GetAdminData(code, type, val) {
            var url = '@Url.Action("gab", "common")';

            jQuery.ajax({
                type: "GET",
                url: url,
                data: { code: code, type: type },
                dataType: "json",
                success: function (data, status, jqXHR) {
                    var content = '';

                    if (type == 'upz') {
                        jQuery("#UpazilaGeoCode").html('<option value="">Choose...</option>');

                        jQuery.each(data, function (i, item) {
                            if (val == item.code)
                                content = '<option value="' + item.code + '" selected>' + item.ab_name + '</option>';
                            else
                                content = '<option value="' + item.code + '">' + item.ab_name + '</option>';

                            jQuery("#UpazilaGeoCode").append(content);
                        });

                        //jQuery("#UpazilaGeoCode").val(val);
                    } else if (type == 'uni') {
                        jQuery("#UnionGeoCode").html('<option value="">Choose...</option>');

                        jQuery.each(data, function (i, item) {
                            if (val == item.code)
                                content = '<option value="' + item.code + '" selected>' + item.ab_name + '</option>';
                            else
                                content = '<option value="' + item.code + '">' + item.ab_name + '</option>';

                            jQuery("#UnionGeoCode").append(content);
                        });

                        //jQuery("#UnionGeoCode").val(val);
                    }
                }, error: function (jqXHR, exception) {
                    var errorMsg = AjaxErrorHandle(jqXHR, exception);
                    Notification('error', 'Error Occured', errorMsg);
                }
            });
        }
    </script>
}