@using WrpCcNocWeb.Models.UserManagement

@{
    ViewData["Title"] = "Make Active/ Inactive Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AdminModUserRegistrationDetail ud = ViewBag.UserRegDetails as AdminModUserRegistrationDetail;
}

<div style="padding: 5px 3px; width:100%" class="panel panel-default">
    <div class="panel-heading text-center justify-content-center">
        <h4>@ViewData["Title"]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;@Html.ActionLink("Back to User List", "viewUsers", "account")</h4>
    </div>

    <div class="panel-body">
        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-10" style="margin-top: 5px;">
                        <div class="card bg-pattern">
                            <div class="card-body">
                                <input type="hidden" id="UserRegistrationId" name="UserRegistrationId" value="@ud.UserRegistrationId" />
                                <input type="hidden" id="UserActivationStatus" name="UserActivationStatus" value="@ud.UserActivationStatus" />
                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <button id="btnSubmitResetPassword" class="btn btn-primary btn-block" type="submit"> Change </button>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <button id="btnClearResetPassword" class="btn btn-secondary btn-block" type="reset"> Clear </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery.noConflict();

        jQuery("#UserPasswordConfirm").on('blur', function () {
            var pwd = jQuery("#UserPasswordNew").val();
            var ucp = jQuery(this).val();

            if (pwd != ucp) {
                Swal.fire('Password Not Matched', 'New password and confirm password does not match!', 'error');
                Notification('error', 'Password Not Match', 'New password and confirm password does not match!');
                jQuery("#UserPasswordNew, #UserPasswordConfirm").val('');
                jQuery("#UserPasswordNew").focus();
            }
        });

        jQuery("#btnSubmitResetPassword").click(function () {
            var urid = GetHiddenValue('UserRegistrationId');
            var uopw = GetTextValue('UserPasswordOld');
            var unpw = GetTextValue('UserPasswordNew');
            var ucpw = GetTextValue('UserPasswordConfirm');

            console.log(urid);
            console.log(uopw);
            console.log(unpw);
            console.log(ucpw);

            if (urid != '') {
                if (ucpw != '') {
                    if (unpw === ucpw) {
                        Swal.fire({
                            title: "Are you sure?",
                            html: 'User password will be changed, do you wish to continue?',
                            type: "warning",
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, Change"
                        }).then(function (t) {
                            if (t.value == true) {
                                if (urid != '') {
                                    var url = '@Url.Action("rupw", "account")';

                                    jQuery.ajax({
                                        type: "POST",
                                        url: url,
                                        data: { urid: urid, uopw: uopw, ucpw: ucpw },
                                        dataType: "json",
                                        success: function (data, status, jqXHR) {
                                            console.log(data);

                                            if (data.message != '') {
                                                if (data.status == 'success') {
                                                    Notification(data.status, data.title, data.message);
                                                    Swal.fire(data.title, data.message, data.status);

                                                    setTimeout(function () { RedirectToHome(); }, 5000);
                                                } else {
                                                    Notification(data.status, data.title, data.message);
                                                    Swal.fire(data.title, data.message, data.status);
                                                }
                                            }
                                        }, error: function (jqXHR, exception) {
                                            var errorMsg = AjaxErrorHandle(jqXHR, exception);
                                            Notification('error', 'Error Occured', errorMsg);
                                            Swal.fire('Error Occured', errorMsg, 'error');
                                        }
                                    });
                                } else {
                                    Swal.fire('Required', 'User registration ID can not be leave empty!', 'warning');
                                    Notification('warning', 'Required', 'User registration ID can not be leave empty!');
                                }
                            }
                        });
                    } else {
                        Swal.fire('Not Matched', 'New password and confirm password does not match!', 'error');
                        Notification('error', 'Not Matched', 'New password and confirm password does not match!');
                    }
                } else {
                    Swal.fire('Password Required', 'New password and confirm password can not leave empty!', 'error');
                    Notification('error', 'Password Required', 'New password and confirm password can not leave empty!');
                }
            } else {
                Swal.fire('Required Data', 'User registration ID found empty!', 'error');
                Notification('error', 'Required Data', 'User registration ID found empty!');
            }
        });

        jQuery("#btnClearResetPassword").click(function () {
            ClearValue('UserPasswordOld');
            ClearValue('UserPasswordNew');
            ClearValue('UserPasswordConfirm');
        });

        function ShowPass(input) {
            var x = document.getElementById(input);

            if (x.type === "password") {
                jQuery(this).find('i').removeClass('fe-eye').addClass('fe-eye-off');
                x.type = "text";
            } else {
                jQuery(this).find('i').removeClass('fe-eye-off').addClass('fe-eye');
                x.type = "password";
            }
        }

        function RedirectToHome() {
            var url = '@Url.Action("viewusers", "account")';
            window.location.href = url;
        }

        function GetTextValue(control) {
            return jQuery('#' + control).val();
        }

        function GetHiddenValue(control) {
            return jQuery('#' + control).val();
        }

        function ClearValue(control) {
            return jQuery('#' + control).val('');
        }
    </script>
</div>