@model WrpCcNocWeb.Models.AdminModUsersDetail

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    var ac = "on"; //ac = auto complete
}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-10" style="margin-top: 50px;">
                <div class="card bg-pattern">
                    <div class="card-body">
                        <div class="text-left m-auto">
                            <h3>User ID: <b class="text-blue">@ViewBag.UserName</b></h3>
                        </div>

                        <div class="text-right m-auto d-sm-none" style="margin-top: -50px !important; margin-right: -50px !important;">
                            <a href="javascript: void(0);">
                                <span><img src="~/images/logo-dark.png" alt="WARPO" height="60"></span>
                            </a>
                        </div>

                        <input type="hidden" id="UserRegistrationId" name="UserRegistrationId" value="@ViewBag.UserRegistrationID" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserFullName, new { @class = "control-label" }) <span class="text-danger bold">*</span>
                                    @Html.EditorFor(m => m.UserFullName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter full name in english", @required = "required", @autocomplete = ac } })
                                </div>

                                <div class="form-group" data-toggle="tooltip" title="Press Control + B to change language.">
                                    @Html.LabelFor(m => m.UserFullNameBn, new { @class = "control-label" }) <span class="text-danger bold">*</span>
                                    @Html.EditorFor(m => m.UserFullNameBn, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter full name in bengali", @required = "required", @autocomplete = ac } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserFatherName, new { @class = "control-label" }) <span class="text-danger bold">*</span>
                                    @Html.EditorFor(m => m.UserFatherName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter father name", @required = "required", @autocomplete = ac } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserDateOfBirth, new { @class = "control-label" }) <span class="text-danger bold">*</span>
                                    @Html.EditorFor(m => m.UserDateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @placeholder = "Date of birth", @required = "required", @autocomplete = ac } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserNID, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.UserNID, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "National ID card", @autocomplete = ac } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserPassportNo, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.UserPassportNo, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Passport no", @autocomplete = ac } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserProfession, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.UserProfession, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Profession" } })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserDesignation, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.UserDesignation, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Designation" } })
                                </div>

                                <div class="form-group">
                                    <label for="UserAddress">Address <span class="text-danger bold">*</span></label>
                                    <textarea id="UserAddress" name="UserAddress" class="form-control" rows="1" required="" placeholder="Address in english"></textarea>
                                </div>

                                <div class="form-group" data-toggle="tooltip" title="Press Control + B to change language.">
                                    <label for="UserAddressBn">Address In Bengali <span class="text-danger bold">*</span></label>
                                    <textarea id="UserAddressBn" name="UserAddressBn" class="form-control" rows="1" required="" placeholder="Address in bengali"></textarea>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserAlternateEmail, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.UserAlternateEmail, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Alternate email address" } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserAlternateMobile, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.UserAlternateMobile, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Alternate mobile no" } })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SecurityQuestionId, new { @class = "control-label" }) <span class="text-danger bold">*</span>
                                    @Html.DropDownList("SecurityQuestionId", null, string.Empty, new { @id = "SecurityQuestionId", @class = "form-control", @style = "width: 100%;" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SecurityQuestionAnswer, new { @class = "control-label" }) <span class="text-danger bold">*</span>
                                    @Html.EditorFor(m => m.SecurityQuestionAnswer, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Security question answer" } })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="SignatureFileName" data-toggle="tooltip"
                                           title="Signature must be 300 X 80 pixel (width X height) [.jpg/.png/.bmp format] and file size not more than 80 KB (Min. 3 KB)">
                                        Upload Signature <span class="text-danger bold">*</span>
                                    </label>
                                    <div class="input-group" style="width: 200px;">
                                        <div class="custom-file">
                                            <input id="SignatureFileName" name="SignatureFileName" type="file" class="custom-file-input"
                                                   onchange="return ValidateFileUpload()" />
                                            <label id="ViewSignatureFileName" for="SignatureFileName" class="custom-file-label">
                                                Choose file
                                            </label>
                                            <img id="PrevSignatureFile" src="~/images/sample_signature.jpg" style="width: 200px; height: 36px; margin-left: 225px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="col-md-6" style="margin-top: 30px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button id="btnSubmitProfileInfo" class="btn btn-primary btn-block" type="submit"> Submit </button>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button id="btnClearProfileInfo" class="btn btn-secondary btn-block" type="reset"> Clear </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery.noConflict();

    jQuery(document).ready(function () {
        jQuery('#UserFullNameBn, #UserAddressBn').avro({ 'bn': true });
    });

    jQuery("#btnSubmitProfileInfo").click(function () {
        var urid = GetHiddenValue('UserRegistrationId');
        var input = document.getElementById('SignatureFileName');
        var files = input.files;

        Swal.fire({
            title: "Are you sure?",
            //html: 'Application will be rejected. Do you wish to continue? <br /> <div class="form-group"><label for="txtRejectReason"><span class="badge badge-info">Please Specify Reject Reason</span> <span class="text-danger bold">*</span></label><input type="text" id="txtRejectReason" name="txtRejectReason" class="form-control"></div>',
            type: "warning",
            allowEscapeKey: false,
            allowOutsideClick: false,
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Submit"
        }).then(function (t) {
            var urid = GetHiddenValue('UserRegistrationId');
            var ufn = GetTextValue('UserFullName');
            var ufnbn = GetTextValue('UserFullNameBn');
            var ufn = GetTextValue('UserFatherName');
            var udb = GetTextValue('UserDateOfBirth');
            var nid = GetTextValue('UserNID');
            var upn = GetTextValue('UserPassportNo');
            var ups = GetTextValue('UserProfession');
            var udg = GetTextValue('UserDesignation');
            var adr = GetTextValue('UserAddress');
            var adrbn = GetTextValue('UserAddressBn');
            var uae = GetTextValue('UserAlternateEmail');
            var uam = GetTextValue('UserAlternateMobile');
            var sqid = GetTextValue('SecurityQuestionId');
            var sqa = GetTextValue('SecurityQuestionAnswer');

            var formData = new FormData();
            formData.append("UserId", '0');
            formData.append("UserRegistrationId", urid);
            formData.append("UserFullName", ufn);
            formData.append("UserFullNameBn", ufnbn),
            formData.append("UserFatherName", ufn),
            formData.append("UserDateOfBirth", udb),
            formData.append("UserNID", nid),
            formData.append("UserPassportNo", upn),
            formData.append("UserProfession", ups),
            formData.append("UserDesignation", udg),
            formData.append("UserAddress", adr),
            formData.append("UserAddressBn", adrbn),
            formData.append("UserAlternateEmail", uae),
            formData.append("UserAlternateMobile", uam),
            formData.append("SecurityQuestionId", sqid),
            formData.append("SecurityQuestionAnswer", sqa),
            formData.append("file", files[0]);

            if (t.value == true) {
                if (urid != '') {
                    var url = '@Url.Action("saveprofile", "account")';

                    $.ajax({
                        url: url,
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data, status, jqXHR) {
                            console.log(data);
                            if (data.message != '') {
                                if (data.status == 'success') {
                                    Notification(data.status, data.title, data.message);
                                    Swal.fire(data.title, data.message, data.status);

                                    setTimeout(function () { RedirectToHome(); }, 5000);
                                } else {
                                    Notification(data.status, data.title, data.message);
                                    Swal.fire(data.title, data.message, data.status);
                                }
                            }
                        }, error: function (jqXHR, exception) {
                            var errorMsg = AjaxErrorHandle(jqXHR, exception);
                            Notification('error', 'Error Occured', errorMsg);
                            Swal.fire('Error Occured', errorMsg, 'error');
                        }
                    });
                } else {
                    Swal.fire('Required', 'User registration ID is required!', 'warning');
                    Notification('warning', 'Required', 'User registration ID is required!');
                }
            }
        });
    });

    function RedirectToHome() {
        var url = '@Url.Action("index", "home")';
        window.location.href = url;
    }

    function RedirectToLogin() {
        var url = '@Url.Action("login", "account")';
        window.location.href = url;
    }

    function GetTextValue(control) {
        return jQuery('#' + control).val();
    }

    function GetHiddenValue(control) {
        return jQuery('#' + control).val();
    }

    function UploadSignatureFile(inputid) {
        var urid = GetHiddenValue('UserRegistrationId');
	    var input = document.getElementById(inputid);
	    var files = input.files;

	    var formData = new FormData();
        formData.append("urid", urid);
	    formData.append("controltitle", inputid);
	    formData.append("file", files[0]);

        var url = '@Url.Action("uusf", "account")';
	    $.ajax({
		    url: url,
		    data: formData,
		    processData: false,
		    contentType: false,
		    type: "POST",
		    success: function (data) {
			    if (data.message != '')
				    Swal.fire(data.title, data.message, data.status);
		    }, error: function (jqXHR, exception) {
			    var errorMsg = AjaxErrorHandle(jqXHR, exception);
			    Swal.fire('Error Occured', errorMsg, 'error');
		    }
	    });
    }

    function ValidateFileUpload() {
        var fuData = document.getElementById('SignatureFileName');
        var FileUploadPath = fuData.value;

        if (FileUploadPath == '') {
            Notification('info', 'Select Signature Image', 'Please select an image of signature.');
            Swal.fire('Select Signature Image', 'Please select an image of signature.', 'info');
        } else {
            var FileName = fuData.files[0].name;
            var Extension = FileName.replace(/^.*\./, '');

            if (Extension == "gif" || Extension == "png" || Extension == "bmp" || Extension == "jpeg" || Extension == "jpg") {
                if (fuData.files && fuData.files[0]) {
                    var reader = new FileReader();
                    reader.readAsDataURL(fuData.files[0]);
                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;

                            if (height > 85) {
                                Notification('warning', 'Exceeding Image Height', 'Height must not exceed 80px.');
                                Swal.fire('Exceeding Image Height', 'Height must not exceed 80px.', 'warning');

                                return false;
                            }

                            if (width > 315) {
                                Notification('warning', 'Exceeding Image Width', 'Width must not exceed 300px');
                                Swal.fire('Exceeding Image Width', 'Width must not exceed 300px', 'warning');
                                return false;
                            }
                        };

                        $('#PrevSignatureFile').attr('src', e.target.result);
                        $('#PrevSignatureFile').show();
                        $('#ViewSignatureFileName').text(FileName);
                    }
                } else {
                    $('#PrevSignatureFile').attr('src', '../images/sample_signature.jpg');
                    $('#PrevSignatureFile').show();
                    $('#ViewSignatureFileName').text('Choose file');
                }
            }
            else {
                Notification('warning', 'Invalid File Format', 'Photo only allows file types of JPG/ JPEG/ PNG/ GIF/ BMP.');
                Swal.fire('Invalid File Format', 'Photo only allows file types of JPG/ JPEG/ PNG/ GIF/ BMP.', 'warning');

                $('#PrevSignatureFile').attr('src', '../images/sample_signature.jpg');
                $('#PrevSignatureFile').show();
                $('#ViewSignatureFileName').text('Choose file');
            }
        }
    }

    function toLower(str) {
        var result = '';
        for (var i = 0, len = str.length; i < len; i++) {
            var charAtLocation = str.charCodeAt(i);
            if (charAtLocation > 64 && charAtLocation < 91) //ASCII for upper-case
                result += String.fromCharCode(charAtLocation + 32);
            else
                result += str[i];
        }
        return result;
    }
</script>