@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    CcModAppProjectCommonDetail pcd = (CcModAppProjectCommonDetail)ViewData["dProjectCommonDetail"];
    //CcModAppProject_31_IndvDetail projectindi = (CcModAppProject_31_IndvDetail)ViewData["dProjectIndvDetail31"];

    var cnwpd = ViewData["dCompatNWPDetail"];
    var cnwmpd = ViewData["dCompatNWMPDetail"];
    var sdgd = ViewData["dCompatSDGDetail"];
    var sdgid = ViewData["dCompatSDGIndiDetail"];
    var bdp2100gd = ViewData["dBDP2100GoalDetail"];
    var gpwmgtd = ViewData["dGPWMGroupType"];

    var prev_lang = int.Parse(ViewData["dFormLanguage"].ToString());
    var prj_type_id = int.Parse(ViewData["dProjectTypeId"].ToString());
    string yesTickMark = string.Empty, noTickMark = string.Empty, numbering = string.Empty;
}

<table style="border: 1px solid #CFCFCF; table-layout: fixed; width: 100%;" border="1" cellpadding="1" cellspacing="0">
    <tr style="background: #9d9b9b; font-weight: bold;">
        <td colspan="3">
            <h4>
                @if (prev_lang == 1)
                {<span>গ। দলিল প্রতিপালন</span>}
                else
                {<span>C. Deed Obligatory</span>}
            </h4>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(১) জাতীয় পানি নীতির (NWP) সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(1) Whether the Project is in Conformity with the National Water Policy</span>}
            </b>
        </td>
        <td>
            <table style="width:100%; border: 1px solid #CFCFCF; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.CompatNWPYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.CompatibilityNWPApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.CompatibilityNWPAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/CompatNWPDocs/@pcd.CompatibilityNWPDocLink" target="_blank">@pcd.CompatibilityNWPDocLink</a></td>
                    }
                </tr>
            </table>

            @if (pcd.CompatNWPYesNoId == 1)
            {
                <h4>
                    @if (prev_lang == 1)
                    {<span>হ্যাঁ হলে, যে অনুচ্ছেদের সাথে সম্পর্কিত?</span>}
                    else
                    { <span>If Yes, then related with which following articles?</span>}
                </h4>

                <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                    <tbody>@Html.Raw(cnwpd.ToString())</tbody>
                </table>}
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility with National Water Policy', 'CompatibilityNationalWaterPolicy');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(২) জাতীয় পানি ব্যবস্থাপনা পরিকল্পনা (NWMP) এর সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(2) Whether the Project is in Conformity with the National Water Management Plan (NWMP) Framework and its Clusters</span>}
            </b>
        </td>
        <td>
            <table style="width:100%; border: 1px solid #CFCFCF; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>

                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.NWMPCompatYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.NWMPApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.NWMPAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/NWMPDocs/@pcd.NWMPDocLink" target="_blank">@pcd.NWMPDocLink</a></td>
                    }
                </tr>
            </table>

            @if (pcd.CompatNWPYesNoId == 1)
            {
                <h4>
                    @if (prev_lang == 1)
                    {<span>হ্যাঁ হলে, যে প্রোগ্রামের সাথে সম্পর্কিত</span> }
                    else
                    { <span>If Yes, then related with which following programme</span>}
                </h4>

                <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                    <tbody>@Html.Raw(cnwmpd.ToString())</tbody>
                </table>}
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility National Water Management Plan', 'CompatibilityNationalWaterManagementPlan');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৩) চলমান পঞ্চবার্ষিকী পরিকল্পনা এর সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(3) Whether the project is in conformity with Current Fifth Year Plan (FYP)</span>}
            </b>
        </td>
        <td>
            <table style="width:100%; border: 1px solid #CFCFCF; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.FYPYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td style="word-break: break-all;">@pcd.FYPApplicantCmt</td>
                        <td style="word-break: break-all;">@pcd.FYPAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/FYPDocs/@pcd.FYPDocLink" target="_blank">@pcd.FYPDocLink</a></td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Current Fifth Year Plan', 'CompatibilityCurrentFifthYearPlan');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৪) টেকসই উন্নয়ন লক্ষ্যমাত্রা (SDG) এর সাথে প্রকল্পটি সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(4) Whether the project is in conformity with Sustainable Development Goal (SDG)</span>}
            </b>
        </td>
        <td>
            <table style="width:100%; border: 1px solid #CFCFCF; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.SDGYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td style="word-break: break-all;">@pcd.SDGApplicantCmt</td>
                        <td style="word-break: break-all;">@pcd.SDGAuthorityCmt</td>
                        <td style="word-break: break-all;"><a href="~/images/CommonDetails/SDGDocs/@pcd.SDGDocLink" target="_blank">@pcd.SDGDocLink</a></td>
                    }
                </tr>
            </table>
            @if (pcd.SDGYesNoId == 1)
            {
                <h4>
                    @if (prev_lang == 1)
                    {<span>হ্যাঁ হলে, যে লক্ষ্যমাত্রার সাথে সম্পর্কিত</span> }
                    else
                    { <span>If Yes</span>}
                </h4>

                <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                    <tbody>
                        @Html.Raw(sdgd.ToString())

                        <h4>
                            @if (prev_lang == 1)
                            {<span>এসডিজি ৬.০ (SDG ৬.০) এর সাথে সামঞ্জস্যপূর্ণ হলে যে সূচকের সাথে সামঞ্জস্যপূর্ণ</span>}
                            else
                            { <span>SDG 6.0 Indicators</span>}
                        </h4>

                        @Html.Raw(sdgid.ToString())
                    </tbody>
                </table>}
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Sustainable Development Goal', 'CompatibilitySustainableDevelopmentGoal');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৫) বাংলাদেশ ব-দ্বীপ পরিকল্পনা (BDP-2100) এর সাথে প্রকল্পটির সামঞ্জসপূর্ণতা</span>}
                else
                { <span>(5) Whether the project is in conformity with Bangladesh Delta Plan 2100 (BDP-2100)</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.DeltaPlanYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.DeltaPlan2100ApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.DeltaPlan2100AuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/DeltaPlan2100Docs/@pcd.DeltaPlan2100DocLink" target="_blank">@pcd.DeltaPlan2100DocLink</a></td>
                    }
                </tr>
            </table>
            @if (pcd.DeltaPlanYesNoId == 1)
            {
                <h4>
                    @if (prev_lang == 1)
                    {<span>হ্যাঁ সূচক হলে যে অভীষ্টলক্ষ্যের সাথে সামঞ্জস্যপূর্ণ</span> }
                    else
                    { <span>If yes</span>}
                </h4>

                <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                    <tbody>@Html.Raw(bdp2100gd.ToString())</tbody>
                </table>}
        </td>
        <td>
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Bangladesh Delta Plan 2100', 'CompatibilityBangladeshDeltaPlan2100');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৬) উপকূলীয় অঞ্চলনীতির সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(6) Whether the project is in conformity with Coastal Zone Policy</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.CostalZoneYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.CostalZoneApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.CostalZoneAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/CostalZoneDocs/@pcd.CostalZoneDocLink" target="_blank">@pcd.CostalZoneDocLink</a></td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Coastal Zone Policy', 'CompatibilityCoastalZonePolicy');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৭) দূর্যোগ ব্যবস্থাপনা নীতির সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span> }
                else
                { <span>(7) Whether the project is in conformity with Disaster Management Policy</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.CiwupYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td style="word-break: break-all;">@pcd.CiwupApplicantCmt</td>
                        <td style="word-break: break-all;">@pcd.CiwupAuthorityCmt</td>
                        <td style="word-break: break-all;"><a href="~/images/CommonDetails/DmpDocs/@pcd.CiwupDocLink" target="_blank">@pcd.CiwupDocLink</a></td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Disaster Management Policy', 'DisasterManagementPolicy');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৮) কৃষিনীতির সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(8) Whether the project is in conformity with Agricultural Policy</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.AgriculturalYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.AgriApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.AgriAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/AgriDocs/@pcd.AgriDocLink" target="_blank">@pcd.AgriDocLink</a></td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Agricultural Policy', 'CompatibilityAgriculturalPolicy');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(৯) মৎস্যনীতির সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(9) Whether the project is in conformity with Fisheries Policy</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>নথি লিঙ্ক</span>}
                        else
                        {<span>Document Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.FisheriesYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.FisheriesApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.FisheriesAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/FisheriesDocs/@pcd.FisheriesDocLink" target="_blank">@pcd.FisheriesDocLink</a></td>
                    }
                </tr>
            </table>
        </td>
        <td>
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Fisheries Policy', 'CompatibilityFisheriesPolicy');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(১০) সমন্বিত পানি সম্পদ ব্যবস্থাপনা (IWRM) এর ধারণার সাথে প্রকল্পটির সামঞ্জস্যপূর্ণতা</span>}
                else
                { <span>(10) Whether the project is consistent with the concept of Integrated Water Resources Management (IWRM) principles</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.IWRMYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td style="word-break: break-all;">@pcd.IWRMApplicantCmt</td>
                        <td style="word-break: break-all;">@pcd.IWRMAuthorityCmt</td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility Integrated Water Resource Management', 'CompatibilityIntegratedWaterResourceManagement');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(১১) অংশগ্রহণমূলক পানি ব্যবস্থাপনা (GPWM) এর দিক নির্দেশনা অনুসরণ পূর্বক প্রকল্পটি প্রস্তুত কিনা</span>}
                else
                {<span>(11) Whether the project has followed the Guidelines for Participatory Water Management (GPWM)</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.GPWMYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.GPWMApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.GPWMAuthorityCmt</td>
                    }
                </tr>
            </table>
            @if (pcd.GPWMYesNoId == 1)
            {
                <h4>
                    @if (prev_lang == 1)
                    {<span>হ্যাঁ হলে, যে ধরনের গ্রুপ গঠন করা প্রয়োজন</span> }
                    else
                    { <span>If Yes, type group formation</span>}
                </h4>

                <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                    <tbody>@Html.Raw(gpwmgtd.ToString())</tbody>
                </table>}
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Compatibility GPWM', 'CompatibilityGPWM');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 250px;">
            <b>
                @if (prev_lang == 1)
                {<span>(১২) প্রকল্পটির ফিজিবিলিটি স্ট্যাডি (সম্ভাব্যতা যাচাই সমীক্ষা) করা হয়েছে কিনা</span>}
                else
                { <span>(12) Whether Feasibility Study of the Project has been Conducted?</span>}
            </b>
        </td>
        <td>
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>প্রতিবেদন লিঙ্ক</span>}
                        else
                        {<span>Report Link</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.FeasibilityYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td style="word-break: break-all;">@pcd.FeasibilityApplicantCmt</td>
                        <td style="word-break: break-all;">@pcd.FeasibilityAuthorityCmt</td>
                        <td class="text-center" style="word-break: break-all;"><a href="~/images/CommonDetails/FeasibilityStudyReports/@pcd.FeasibilityStudyReportFile" target="_blank">@pcd.FeasibilityStudyReportFile</a></td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Feasibility Study', 'FeasibilityStudy');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    @if (prj_type_id == 1 || prj_type_id == 2 || prj_type_id == 4 || prj_type_id == 10 || prj_type_id == 13)
    {
        <tr style="vertical-align: top; text-align: left;">
            <td style="width: 250px;">
                <b>
                    @if (prev_lang == 1)
                    {<span>(১৩) অন্যান্য সংস্থা, ব্যক্তি/ গোষ্ঠী কর্তৃক পরিচালিত বা সমাপ্ত প্রকল্প সমূহের সহিত প্রস্তাবিত প্রকল্পটি কোন দ্বৈততা বা পুনরাবৃত্তি আছে কিনা বা থাকলেও সংস্থা, ব্যক্তি বা গোষ্ঠির সাথে সমন্বয় করা হয়েছে কিনা?</span>}
                    else
                    {<span>(13) Examine whether the project is not overlapping and duplication with any other project of other organizations or individual/ group initiatives and resolve disputes if any relating to appropriation?</span>}
                </b>
            </td>
            <td>
                <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                    <tr>
                        <th>
                            @if (prev_lang == 1)
                            {<span>হ্যাঁ</span>}
                            else
                            {<span>Yes</span>}
                        </th>
                        <th>
                            @if (prev_lang == 1)
                            {<span>না</span>}
                            else
                            {<span>No</span>}
                        </th>
                        <th>
                            @if (prev_lang == 1)
                            {<span>আবেদনকারীর মন্তব্য</span>}
                            else
                            {<span>Applicant Comments</span>}
                        </th>
                        <th>
                            @if (prev_lang == 1)
                            {<span>কর্তৃপক্ষের মন্তব্য</span>}
                            else
                            {<span>Authority Comments</span>}
                        </th>
                        <th>
                            @if (prev_lang == 1)
                            {<span>প্রতিবেদন লিঙ্ক</span>}
                            else
                            {<span>Report Link</span>}
                        </th>
                    </tr>
                    <tr>
                        @{
                            yesTickMark = string.Empty;
                            noTickMark = string.Empty;

                            @*if (projectindi.DuplicatYesNoId == 1)
                            {
                                yesTickMark = "<span class='fe-check'></span>";
                                noTickMark = "";
                            }
                            else
                            {
                                yesTickMark = "";
                                noTickMark = "<span class='fe-check'></span>";
                            }

                            <td>@Html.Raw(yesTickMark)</td>
                            <td>@Html.Raw(noTickMark)</td>
                            <td class="text-left" style="word-break: break-all;">@projectindi.DuplicationApplicantComments</td>
                            <td class="text-left" style="word-break: break-all;">@projectindi.DuplicationAuthorityComments</td>
                            <td class="text-center" style="word-break: break-all;">
                                <a href="~/images/CommonDetails/ProjectDuplicationFiles/@pcd.PrjDuplicateAttestedLtrFile" target="_blank">@pcd.PrjDuplicateAttestedLtrFile</a>
                            </td>*@
                        }
                    </tr>
                </table>
            </td>
            <td style="word-wrap: break-word;">
                <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Duplication of the Project', 'DuplicationOfTheProject');"
                   class="btn btn-sm btn-info waves-effect comment" data-close="false"
                   data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
                   style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                    <i class="mdi mdi-comment-text-multiple"></i>
                </a>
            </td>
        </tr>
    }

    @if (prj_type_id == 1 || prj_type_id == 2 || prj_type_id == 4 || prj_type_id == 10 || prj_type_id == 13)
    {
        if (prev_lang == 1)
        {
            numbering = "১৪";
        }
        else
        {
            numbering = "14";
        }
    }
    else
    {
        if (prev_lang == 1)
        {
            numbering = "১৩";
        }
        else
        {
            numbering = "13";
        }
    }

    <tr>
        <td colspan="3">
            <b>
                @if (prev_lang == 1)
                {<span>(@numbering) প্রকল্পটি গুরুত্বপূর্ণ সামাজিক বিষয়াদি এবং নারী, শিশু,দরিদ্র ও অনগ্রসর জনগোষ্ঠীর প্রতি বিশেষ গুরুত্ব দিয়ে প্রণীত হয়েছে কিনা</span>}
            else
            { <span>(@numbering) Examine if important sociological issues with especial attention to poor and women are adequately addressed</span>}
            </b>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 750px; word-wrap: break-word;" colspan="2">
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.SocialIssuesYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.SocialIssuesApplicantCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.SocialIssuesAuthorityCmt</td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Project Development Emphasizing People', 'ProjectDevelopmentEmphasizingPeople');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    @if (prj_type_id == 1 || prj_type_id == 2 || prj_type_id == 4 || prj_type_id == 10 || prj_type_id == 13)
    {
        if (prev_lang == 1)
        {
            numbering = "১৫";
        }
        else
        {
            numbering = "15";
        }
    }
    else
    {
        if (prev_lang == 1)
        {
            numbering = "১৪";
        }
        else
        {
            numbering = "14";
        }
    }

    <tr>
        <td colspan="3">
            <b>
                @if (prev_lang == 1)
                {<span>(@numbering) প্রকল্প প্রণয়নের ক্ষেত্রে প্রকল্প নির্ধারণী নির্দেশিকা (জিপিএ) অনুসরণপূর্বক তৈরি করা হয়েছে কিনা</span>}
            else
            { <span>(@numbering) Examine whether the project appraisal (feasibility studies) followed the Guidelines for Project Assessment (GPA)</span>}
            </b>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 750px; word-wrap: break-word;" colspan="2">
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>হ্যাঁ</span>}
                        else
                        {<span>Yes</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>না</span>}
                        else
                        {<span>No</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>আবেদনকারীর মন্তব্য</span>}
                        else
                        {<span>Applicant Comments</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>কর্তৃপক্ষের মন্তব্য</span>}
                        else
                        {<span>Authority Comments</span>}
                    </th>
                </tr>
                <tr>
                    @{ yesTickMark = string.Empty;
                        noTickMark = string.Empty;

                        if (pcd.GuidelinesFollowedYesNoId == 1)
                        {
                            yesTickMark = "<span class='fe-check'></span>";
                            noTickMark = "";
                        }
                        else
                        {
                            yesTickMark = "";
                            noTickMark = "<span class='fe-check'></span>";
                        }

                        <td>@Html.Raw(yesTickMark)</td>
                        <td>@Html.Raw(noTickMark)</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.GuidelinesFollowedAppCmt</td>
                        <td class="text-left" style="word-break: break-all;">@pcd.GuidelinesFollowedAuthCmt</td>
                    }
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Followed the Guidelines for Project Assessment (GPA)', 'FollowedGuidelinesProjectAssessment');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>

    @if (prj_type_id == 1 || prj_type_id == 2 || prj_type_id == 4 || prj_type_id == 10 || prj_type_id == 13)
    {
        if (prev_lang == 1)
        {
            numbering = "১৬";
        }
        else
        {
            numbering = "16";
        }
    }
    else
    {
        if (prev_lang == 1)
        {
            numbering = "১৫";
        }
        else
        {
            numbering = "15";
        }
    }

    <tr>
        <td colspan="3">
            <b>
                @if (prev_lang == 1)
                {<span>(@numbering) প্রকল্প প্রণয়নের ক্ষেত্রে সরকারের কোনও বিজ্ঞপ্তি ব্যবহার হয়েছে কিনা?</span>}
            else
            { <span>(@numbering) Whether any circular of the government has been used in the formulation of the project?</span>}
            </b>
        </td>
    </tr>

    <tr style="vertical-align: top; text-align: left;">
        <td style="width: 750px; word-wrap: break-word;" colspan="2">
            <table style="border: 1px solid #CFCFCF; width: 100%; text-align: center;" border="1">
                <tr>
                    <th>
                        @if (prev_lang == 1)
                        {<span>সরকারী বিজ্ঞপ্তি</span>}
                        else
                        {<span>Government Circular Name</span>}
                    </th>
                    <th>
                        @if (prev_lang == 1)
                        {<span>বিজ্ঞপ্তি</span>}
                        else
                        {<span>Circular</span>}
                    </th>
                </tr>
                <tr>
                    <td class="text-left" style="word-break: break-all;">@pcd.AnyGovCircularName</td>
                    <td class="text-left" style="word-break: break-all;"><a href="~/images/CommonDetails/AnyGovCircularFiles/@pcd.AnyGovCircularFile" target="_blank">@pcd.AnyGovCircularFile</a></td>
                </tr>
            </table>
        </td>
        <td style="word-wrap: break-word;">
            <a href="#control-popup-comments" onclick="javascript:setInfoInPopup('Any Circular of the Government has been Used', 'AnyGovCircularUsed');"
               class="btn btn-sm btn-info waves-effect comment" data-close="false"
               data-animation="fadein" data-plugin="custommodal" data-overlayColor="#38414a"
               style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
                <i class="mdi mdi-comment-text-multiple"></i>
            </a>
        </td>
    </tr>
</table>