@{
    ViewData["Title"] = "Certificate";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";

    int language = int.Parse(ViewData["LanguageId"].ToString());
    LookUpCcModProjectType pt = ViewData["ProjectType"] as LookUpCcModProjectType;
    LookUpCcModCertificateFormat cf = ViewData["CertificateFormat"] as LookUpCcModCertificateFormat;

    if (cf == null)
    {
        this.Context.Response.HttpContext.Response.Redirect("/form/list", true);
    }
}
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    @if (language == 1)
    {
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-blue py-3 text-white">
                        @*<div class="card-widgets">
                                <a href="javascript:void(0);" onclick="printTrigger('divCertificatePrint');"><i class="mdi mdi-printer"></i></a>
                                <a data-toggle="collapse" href="#divCertificatePrint" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                            </div>*@
                        <h5 class="card-title mb-0 text-white">Project Title</h5>
                    </div>
                    <div id="divCertificatePrint" class="collapse show">
                        <div class="card-body" style="padding-left: 3.5rem !important;padding-right: 3.5rem !important;">
                            <div id="divTopBar">
                                <p style="text-align: right;">
                                    <span id="lblFormNo">ফরম-৫.@ViewData["FormNoBn"]</span><br />
                                    <span>(নমুনা)</span><br />
                                    <span id="lblRuleName">@cf.RuleAsPerGazetteBn</span>
                                </p>
                            </div>
                            <p style="text-align: center;">
                                গণপ্রজাতন্ত্রী বাংলাদেশ সরকার<br />
                                পানি সম্পদ মন্ত্রণালয়<br />
                                পানি সম্পদ পরিকল্পনা সংস্থা<br />
                                ৭২ গ্রীণরোড, ঢাকা।<br />
                            </p>
                            <p>
                                <span id="lblClearanceNo" style="float: left;">ছাড়পত্র নং #@ViewData["ClearanceNoBn"]</span>
                                <span id="lblClearanceDate" style="float: right;">তারিখ: @ViewData["ClearanceDateBn"]</span>
                            </p>
                            <br />
                            <br />
                            <p>
                                <span>প্রতি</span><br />
                                <span>@ViewData["ApplicantNameBn"]</span><br />
                                <span>@ViewData["ApplicantAddressBn"]</span><br />
                                <span>যোগাযোগ: @ViewData["ApplicantMobileBn"]</span><br />
                                <span>ইমেইল: @ViewData["ApplicantEmail"]</span>
                            </p>
                            <br />
                            <p style="text-align: center; font-weight: bold;">
                                <span>প্রকল্প ছাড়পত্র</span><br />
                                (<span id="lblProjectTitle">@pt.ProjectTypeBn</span>)
                            </p>
                            <br />
                            <br />
                            <p style="text-align: justify;">
                                @Html.Raw(cf.CertificateBodyBn)
                            </p>
                            <br />
                            <p>
                                <span style="font-weight: bold;">শর্তাদি:</span>
                                <ul style="list-style-type: none;">
                                    @Html.Raw(cf.TermsConditionsBn)
                                </ul>
                            </p>
                            <br />
                            <br />
                            <br />
                            <span style="text-align: center; float: right">
                                দায়িত্বপ্রাপ্ত কর্মকর্তার স্বাক্ষর<br />
                                ও<br />
                                সীলমোহর
                            </span>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-blue py-3 text-white">
                        <div class="card-widgets">
                            <a href="javascript:void(0);" onclick="printTrigger('divCertificatePrint');"><i class="mdi mdi-printer"></i></a>
                            <a data-toggle="collapse" href="#divCertificatePrint" role="button" aria-expanded="false" aria-controls="cardCollpase2"><i class="mdi mdi-minus"></i></a>
                        </div>
                        <h5 class="card-title mb-0 text-white">Project Title</h5>
                    </div>
                    <div id="divCertificatePrint" class="collapse show">
                        <div class="card-body" style="padding-left: 3.5rem !important;padding-right: 3.5rem !important;">
                            <div id="divTopBar">
                                <p style="text-align: right;">
                                    <span id="lblFormNo">Form-5.@ViewData["FormNo"]</span><br />
                                    <span>(Sample)</span><br />
                                    <span id="lblRuleName">@cf.RuleAsPerGazette</span>
                                </p>
                            </div>
                            <p style="text-align: center;">
                                Government of the People's Republic of Bangladesh<br />
                                Ministry of Water Resources<br />
                                Water Resources Planning Agency<br />
                                72 Green Road, Dhaka.<br />
                            </p>
                            <p>
                                <span id="lblClearanceNo" style="float: left;">Clearance Certificate #@ViewData["ClearanceNo"]</span>
                                <span id="lblClearanceDate" style="float: right;">Date: @ViewData["ClearanceDate"]</span>
                            </p>
                            <br />
                            <br />
                            <p>
                                <span>To</span><br />
                                <span>@ViewData["ApplicantName"]</span><br />
                                <span>@ViewData["ApplicantAddress"]</span><br />
                                <span>Contact: @ViewData["ApplicantMobile"]</span><br />
                                <span>Email: @ViewData["ApplicantEmail"]</span>
                            </p>
                            <br />
                            <p style="text-align: center; font-weight: bold;">
                                <span>Project Clearance Certificate</span><br />
                                (<span id="lblProjectTitle">@pt.ProjectType</span>)
                            </p>
                            <br />
                            <br />
                            <p style="text-align: justify;">
                                @Html.Raw(cf.CertificateBody)
                            </p>
                            <br />
                            <p>
                                <span style="font-weight: bold;">Terms:</span>
                                <ul style="list-style-type: none;">
                                    @Html.Raw(cf.TermsConditions)
                                </ul>
                            </p>
                            <br />
                            <br />
                            <br />
                            <span style="text-align: center; float: right">
                                Signature of the Officer in Charge<br />
                                and<br />
                                Seal
                            </span>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>