@using WrpCcNocWeb.Models.Utility;

@{
    ViewData["Title"] = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3"> Application List</h4>
                @{
                    WrpCcNocWeb.Controllers.commonController cc = new WrpCcNocWeb.Controllers.commonController();
                    List<ProjectViewList> _pcds = ViewBag.PCDS;

                    if (_pcds.Count > 0)
                    {
                        int count = 1;
                        <table id="tblAppList" class="table table-hover table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="text-center">Sl.</th>
                                    <th>Application Type</th>
                                    <th>Project Name</th>
                                    <th>Estimated Cost</th>
                                    <th>Staus</th>
                                    <th style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProjectViewList pcd in _pcds)
                                {
                                    var ProjectTypeId = pcd.ProjectTypeId;
                                    var Redirectpage = cc.RedirectPage(ProjectTypeId);

                                    var css_class = (pcd.ApprovalStatusId == 1) ? "bg-success" : (pcd.ApprovalStatusId == 2 || pcd.ApprovalStatusId == 3) ? "bg-secondary" : "bg-warning";

                                    if (pcd.IsCompletedId == null || pcd.IsCompletedId == 0)
                                    {
                                        <tr class="@css_class text-white font-italic font-weight-bold">
                                            <td class="text-center align-middle">@count</td>
                                            <td class="align-middle">@pcd.ProjectType</td>
                                            <td class="align-middle">@pcd.ProjectName</td>
                                            <td class="align-middle">@pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle">@pcd.ApprovalStatus</td>

                                            @if (@pcd.ApprovalStatusId == 1)
                                            {
                                                <td class="align-middle">
                                                    @*<a href="@Url.Action("view", "certificate", new { id = pcd.ProjectId })" target="_blank" class="btn btn-info">
                                                            Download
                                                        </a>*@

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            Download
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                            <a class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank">বাংলা</a>
                                                            <a class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 2 })" target="_blank">English</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (@pcd.ApprovalStatusId == 2 || @pcd.ApprovalStatusId == 3)
                                            {
                                                <td><span>&nbsp;</span></td>
                                            }
                                            else
                                            {
                                                <td class="align-middle"><a href="@Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank" class="btn btn-info">View</a></td>
                                            }
                                        </tr>
                                    }
                                    else if (pcd.IsCompletedId == 1)
                                    {
                                        <tr class="@css_class text-white">
                                            <td class="text-center align-middle">@count</td>
                                            <td class="align-middle">@pcd.ProjectType</td>
                                            <td class="align-middle">@pcd.ProjectName</td>
                                            <td class="align-middle">@pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle">@pcd.ApprovalStatus</td>

                                            @if (@pcd.ApprovalStatusId == 1)
                                            {
                                                <td class="align-middle">
                                                    @*<a href="@Url.Action("view", "certificate", new { id = pcd.ProjectId })" target="_blank" class="btn btn-info">
                                                            Download
                                                        </a>*@

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            Download
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                            <a class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank">বাংলা</a>
                                                            <a class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 2 })" target="_blank">English</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (@pcd.ApprovalStatusId == 2 || @pcd.ApprovalStatusId == 3)
                                            {
                                                <td><span>&nbsp;</span></td>
                                            }
                                            else
                                            {
                                                <td class="align-middle"><a href="@Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank" class="btn btn-info">View</a></td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="@css_class text-white">
                                            <td class="text-center align-middle">@count</td>
                                            <td class="align-middle">@pcd.ProjectType</td>
                                            <td class="align-middle">@pcd.ProjectName</td>
                                            <td class="align-middle">@pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle">@pcd.ApprovalStatus</td>

                                            @if (@pcd.ApprovalStatusId == 1)
                                            {
                                                <td class="align-middle">
                                                    @*<a href="@Url.Action("view", "certificate", new { id = pcd.ProjectId })" target="_blank" class="btn btn-info">
                                                            Download
                                                        </a>*@

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            Download
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                            <a class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank">বাংলা</a>
                                                            <a class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 2 })" target="_blank">English</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (@pcd.ApprovalStatusId == 2 || @pcd.ApprovalStatusId == 3)
                                            {
                                                <td><span>&nbsp;</span></td>
                                            }
                                            else
                                            {
                                                <td class="align-middle"><a href="@Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank" class="btn btn-info">View</a></td>
                                            }
                                        </tr>
                                    }

                                    count++;
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#tblAppList').DataTable();
    });
</script>