@using WrpCcNocWeb.Models.Utility;

@{ ViewData["Title"] = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#tblAppList').DataTable({
            "sPaginationType": "full_numbers"
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3"> Application List</h4>
                @{ WrpCcNocWeb.Controllers.commonController cc = new WrpCcNocWeb.Controllers.commonController();
                    List<ProjectViewList> _pcds = ViewBag.PCDS;

                    if (_pcds.Count > 0)
                    {
                        int count = 1;
                        <table id="tblAppList" class="table table-hover table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="text-center">Sl.</th>
                                    <th class="nowrap">Application Type</th>
                                    <th class="nowrap">Project Title</th>
                                    <th class="nowrap">Estimated Cost</th>
                                    <th class="nowrap">Date of Submission</th>
                                    <th class="nowrap">Staus</th>
                                    <th class="nowrap" style="width: 150px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProjectViewList pcd in _pcds)
                                {
                                    bool is_expired = false;
                                    var ProjectTypeId = pcd.ProjectTypeId;
                                    var Redirectpage = cc.RedirectPage(ProjectTypeId);

                                    var css_class = (pcd.ApprovalStatusId == 1) ? "bg-success" : (pcd.ApprovalStatusId == 2 || pcd.ApprovalStatusId == 3) ? "bg-secondary" : "bg-warning";

                                    if (pcd.AppApprovalDate != null)
                                    {
                                        var expired_date = pcd.AppApprovalDate.Value.AddYears(2);
                                        var current_date = DateTime.Now;
                                        is_expired = (current_date >= pcd.AppApprovalDate.Value && expired_date >= current_date) ? false : true;

                                        if (pcd.ApprovalStatusId != 1)
                                        {
                                            is_expired = false;
                                        }
                                    }
                                    else
                                    {
                                        is_expired = false;
                                    }

                                    if (pcd.IsCompletedId == null || pcd.IsCompletedId == 0)
                                    {
                                        <tr class="@css_class text-white font-italic font-weight-bold">
                                            <td class="text-center align-middle">@count</td>
                                            <td class="align-middle text-left">@pcd.ProjectType</td>
                                            <td class="align-middle text-left">@pcd.ProjectName</td>
                                            <td class="align-middle text-right">BDT @pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle text-center">@pcd.AppSubmissionDate</td>
                                            <td class="align-middle text-center">
                                                @if (is_expired)
                                                {<span class="bg-danger" style="padding: 4px; border-radius: 3px;">Expired</span> }
                                                else
                                                {<span>@pcd.ApprovalStatus.ToString()</span>}
                                            </td>

                                            @if (@pcd.ApprovalStatusId == 1)
                                            {
                                                @if (is_expired)
                                                {
                                                    <td class="align-middle text-center">
                                                        <button type="button" class="btn btn-danger width-lg">
                                                            Expired
                                                            <i class="mdi mdi-timer-off"></i>
                                                        </button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="align-middle text-center">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-warning dropdown-toggle width-lg" data-toggle="dropdown" aria-expanded="false">
                                                                Download
                                                                <i class="mdi mdi-chevron-down"></i>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                                <a onclick="javascript: doCertDownHist(@pcd.ProjectId);" class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank">বাংলা</a>
                                                                <a onclick="javascript: doCertDownHist(@pcd.ProjectId);" class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 2 })" target="_blank">English</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                } }
                                            else if (@pcd.ApprovalStatusId == 2)
                                            {
                                                <td class="align-middle text-center">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light width-lg">
                                                        Not Approved
                                                        <span class="btn-label-right" style="margin-right: -1.5rem !important;"><i class="mdi mdi-close-circle-outline"></i></span>
                                                    </button>
                                                </td>
                                            }
                                            else if (@pcd.ApprovalStatusId == 3)
                                            {
                                                <td class="align-middle text-center">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light width-lg"
                                                            data-container="body" title="" data-toggle="popover" data-placement="top"
                                                            data-content="@pcd.ReasonOfRejection"
                                                            data-original-title="Reject Reason">
                                                        Rejected
                                                        <span class="btn-label-right" style="margin-right: -1.5rem !important;"><i class="mdi mdi-close-circle-outline"></i></span>
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-center">
                                                    <!--
                                                        <a href="Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank"
                                                           class="btn btn-info waves-effect waves-light width-lg">
                                                            View
                                                            <span class="btn-label-right" style="margin-right: -2.9rem !important;"><i class="mdi mdi-eye"></i></span>
                                                        </a>
                                                    -->
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info waves-effect waves-light width-lg" data-toggle="dropdown" aria-expanded="false">
                                                            View
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                            <a class="dropdown-item" href="@Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank">View</a>
                                                            <a class="dropdown-item" href="@Url.Action("query", "query", new { id = pcd.ProjectId })" target="_blank">Query</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else if (pcd.IsCompletedId == 1)
                                    {
                                        <tr class="@css_class text-white">
                                            <td class="align-middle text-center">@count</td>
                                            <td class="align-middle text-left">@pcd.ProjectType</td>
                                            <td class="align-middle text-left">@pcd.ProjectName</td>
                                            <td class="align-middle text-right">BDT @pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle text-center">@pcd.AppSubmissionDate</td>
                                            <td class="align-middle text-center">
                                                @if (is_expired)
                                                {<span class="bg-danger" style="padding: 4px; border-radius: 3px;">Expired</span> }
                                                else
                                                {<span>@pcd.ApprovalStatus.ToString()</span>}
                                            </td>

                                            @if (@pcd.ApprovalStatusId == 1)
                                            {
                                                @if (is_expired)
                                                {
                                                    <td class="align-middle text-center">
                                                        <button type="button" class="btn btn-danger width-lg">
                                                            Expired
                                                            <i class="mdi mdi-timer-off"></i>
                                                        </button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="align-middle text-center">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-warning dropdown-toggle width-lg" data-toggle="dropdown" aria-expanded="false">
                                                                Download
                                                                <i class="mdi mdi-chevron-down"></i>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                                <a onclick="javascript: doCertDownHist(@pcd.ProjectId);" class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank">বাংলা</a>
                                                                <a onclick="javascript: doCertDownHist(@pcd.ProjectId);" class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 2 })" target="_blank">English</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                } }
                                            else if (@pcd.ApprovalStatusId == 2)
                                            {
                                                <td class="align-middle text-center">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light width-lg">
                                                        Not Approved
                                                        <span class="btn-label-right" style="margin-right: -1.5rem !important;"><i class="mdi mdi-close-circle-outline"></i></span>
                                                    </button>
                                                </td>
                                            }
                                            else if (@pcd.ApprovalStatusId == 3)
                                            {
                                                <td class="align-middle text-center">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light width-lg"
                                                            data-container="body" title="" data-toggle="popover" data-placement="top"
                                                            data-content="@pcd.ReasonOfRejection"
                                                            data-original-title="Reject Reason">
                                                        Rejected
                                                        <span class="btn-label-right" style="margin-right: -1.5rem !important;"><i class="mdi mdi-close-circle-outline"></i></span>
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-center">
                                                    <!--
                                                    <a href="Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank"
                                                       class="btn btn-info waves-effect waves-light width-lg">
                                                        View
                                                        <span class="btn-label-right" style="margin-right: -2.9rem !important;"><i class="mdi mdi-eye"></i></span>
                                                    </a>
                                                    -->

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info waves-effect waves-light width-lg" data-toggle="dropdown" aria-expanded="false">
                                                            View
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                            <a class="dropdown-item" href="@Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank">View</a>
                                                            <a class="dropdown-item" href="@Url.Action("query", "query", new { id = pcd.ProjectId })" target="_blank">Query</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else if (pcd.IsCompletedId == 6 && (pcd.UndertakingSubmitYesNoId == 0 || pcd.UndertakingSubmitYesNoId == null))
                                    {
                                        <tr class="@css_class text-white">
                                            <td class="align-middle text-center">@count</td>
                                            <td class="align-middle text-left">@pcd.ProjectType</td>
                                            <td class="align-middle text-left">@pcd.ProjectName</td>
                                            <td class="align-middle text-right">BDT @pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle text-center">@pcd.AppSubmissionDate</td>
                                            <td class="align-middle text-center">
                                                @if (is_expired)
                                                {<span class="bg-danger" style="padding: 4px; border-radius: 3px;">Expired</span> }
                                                else
                                                { <span class="bg-warning" style="padding: 4px; border-radius: 3px;">Not Submitted</span>}
                                            </td>
                                            @if (is_expired)
                                            {
                                                <td class="align-middle">
                                                    <button type="button" class="btn btn-danger width-lg">
                                                        Expired
                                                        <i class="mdi mdi-timer-off"></i>
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-center">
                                                    <a href="@Url.Action("undertaking", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank"
                                                       class="btn btn-blue waves-effect waves-light width-lg">
                                                        Undertaking
                                                        <span class="btn-label-right"><i class="mdi mdi-certificate"></i></span>
                                                    </a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="@css_class text-white">
                                            <td class="align-middle text-center">@count</td>
                                            <td class="align-middle text-left">@pcd.ProjectType</td>
                                            <td class="align-middle text-left">@pcd.ProjectName</td>
                                            <td class="align-middle text-right">BDT @pcd.ProjectEstimatedCost</td>
                                            <td class="align-middle text-center">@pcd.AppSubmissionDate</td>
                                            <td class="align-middle text-center">
                                                @if (is_expired)
                                                {<span class="bg-danger" style="padding: 4px; border-radius: 3px;">Expired</span> }
                                                else
                                                {<span>@pcd.ApprovalStatus.ToString()</span>}
                                            </td>

                                            @if (@pcd.ApprovalStatusId == 1)
                                            {
                                                @if (is_expired)
                                                {
                                                    <td class="align-middle text-center">
                                                        <button type="button" class="btn btn-danger width-lg">
                                                            Expired
                                                            <i class="mdi mdi-timer-off"></i>
                                                        </button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="align-middle text-center">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-warning dropdown-toggle waves-effect waves-light width-lg" data-toggle="dropdown" aria-expanded="false">
                                                                Download
                                                                <i class="mdi mdi-chevron-down"></i>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                                <a onclick="javascript: doCertDownHist(@pcd.ProjectId);" class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 1 })" target="_blank">বাংলা</a>
                                                                <a onclick="javascript: doCertDownHist(@pcd.ProjectId);" class="dropdown-item" href="@Url.Action("view", "certificate", new { id = pcd.ProjectId, lang = 2 })" target="_blank">English</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                } }
                                            else if (@pcd.ApprovalStatusId == 2)
                                            {
                                                <td class="align-middle text-center">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light width-lg">
                                                        Not Approved
                                                        <span class="btn-label-right" style="margin-right: -1.5rem !important;"><i class="mdi mdi-close-circle-outline"></i></span>
                                                    </button>
                                                </td>
                                            }
                                            else if (@pcd.ApprovalStatusId == 3)
                                            {
                                                <td class="align-middle text-center">
                                                    <button type="button" class="btn btn-danger waves-effect waves-light width-lg"
                                                            data-container="body" title="" data-toggle="popover" data-placement="top"
                                                            data-content="@pcd.ReasonOfRejection"
                                                            data-original-title="Reject Reason">
                                                        Rejected
                                                        <span class="btn-label-right" style="margin-right: -1.5rem !important;"><i class="mdi mdi-close-circle-outline"></i></span>
                                                    </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-center">
                                                    <!--<a href="Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank"
                                                       class="btn btn-info width-lg waves-effect waves-light">
                                                        View
                                                        <span class="btn-label-right" style="margin-right: -2.9rem !important;"><i class="mdi mdi-eye"></i></span>
                                                    </a>-->

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info waves-effect waves-light width-lg" data-toggle="dropdown" aria-expanded="false">
                                                            View
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                                            <a class="dropdown-item" href="@Url.Action(Redirectpage, "form", new { id = pcd.ProjectId })" target="_blank">View</a>
                                                            <a class="dropdown-item" href="@Url.Action("query", "query", new { id = pcd.ProjectId })" target="_blank">Query</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }

                                    count++;
                                }
                            </tbody>
                        </table> } }
            </div>
        </div>
    </div>
</div>

@section PageScripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

        });

        function doCertDownHist(pid) {
            var url = '@Url.Action("scdh", "common")';
            jQuery.ajax({
                type: "POST",
                url: url,
                data: { _pid: pid },
                dataType: "json",
                success: function (data, status, jqXHR) {
                    if (data.status == 'success') {                            
                        //Notification('success', 'Success', data.message);
                        console.log('Success: ' + data.message);
                    } else {
                        console.log('Error: ' + data.message);
                        //Notification('error', 'Deletion Error', data.message);
                    }
                }, error: function (jqXHR, exception) {
                    var errorMsg = AjaxErrorHandle(jqXHR, exception);
                    console.log('Error: ' + errorMsg);
                    //Notification('error', 'Error Occured', errorMsg);
                }
            });
        }
    </script>
}