<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- plugins css -->
    <link href="~/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/libs/custombox/custombox.min.css" rel="stylesheet" />

    <!-- app css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/libs/jquery-toast/toastr.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- bengali font css -->
    <link href="https://fonts.maateen.me/siyam-rupali/font.css" rel="stylesheet">
    <link href="https://fonts.maateen.me/kalpurush/font.css" rel="stylesheet">
    <link href="https://fonts.maateen.me/bangla/font.css" rel="stylesheet">

    <!-- jquery datatable -->
    <link href="~/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" />

    <style type="text/css">
        body {
            font-family: Arial, Bangla, 'Segoe UI' !important;
        }
    </style>

    <!-- jquery -->
    <script src="~/libs/jquery/dist/jquery.js"></script>
    <!-- form validation plugin js-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js" defer></script>
    <script src="~/libs/parsleyjs/parsley.min.js"></script>

    <!--A simple JavaScript utility to convert from numbers to words in Bangla
        e.g. document.getElementById('qunit').innerText = NumToBangla.convert(7669);-->
    <script src="~/js/number-to-bangla-in-word.js"></script>

    <script type="text/javascript">
        jQuery.noConflict();
    </script>
</head>
<body>
    <!-- Navigation Bar-->
    <header id="topnav">
        <!-- topper bar Start -->
        @Html.Partial("_TopperNavBar")
        <!-- end topper bar -->
        <!--menu bar start-->
        @Html.Partial("_MenuBar")
        <!--menu bar end-->
        <!-- end navbar -->
    </header>
    <!-- End Navigation Bar-->
    <!-- Start Page Content here -->
    <div class="wrapper">
        <div class="container-fluid" style="margin-top: 20px;">
            <!-- breadcrumb start-->
            @*@Html.Partial("_Breadcrumb")*@
            <!-- breadcrumb end-->

            @RenderBody()
        </div>
        <!-- end container -->
    </div>
    <!-- End Page Content here -->
    <!-- Footer Start -->
    @Html.Partial("_Footer")
    <!-- Footer End -->
    <!-- Start Right Sidebar -->
    @Html.Partial("_RightSidebar")
    <!-- End Right Sidebar -->
    <!-- Plugins js-->
    <!-- Vendor js -->
    <script src="~/js/vendor.min.js" type="text/javascript"></script>
    <script src="~/libs/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/libs/flatpickr/flatpickr.min.js" type="text/javascript"></script>
    <script src="~/libs/jquery-knob/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/libs/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/libs/flot-charts/jquery.flot.js" type="text/javascript"></script>
    <script src="~/libs/flot-charts/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/libs/flot-charts/jquery.flot.time.js" type="text/javascript"></script>
    <script src="~/libs/flot-charts/jquery.flot.tooltip.min.js" type="text/javascript"></script>
    <script src="~/libs/flot-charts/jquery.flot.selection.js" type="text/javascript"></script>
    <script src="~/libs/flot-charts/jquery.flot.crosshair.js" type="text/javascript"></script>
    <script src="~/js/pages/sweet-alerts.init.js" type="text/javascript"></script>

    <script src="~/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- picker -->
    <script src="~/js/pages/form-pickers.init.js" type="text/javascript"></script>
    <!-- Modal-Effect -->
    <script src="~/libs/custombox/custombox.min.js" type="text/javascript"></script>
    <!-- Animated Tool Tip -->
    <script src="~/libs/tippy-js/tippy.all.min.js"></script>
    <!-- App js-->
    <script src="~/js/app.min.js" type="text/javascript"></script>

    <!-- js avro phonetic keyboard -->
    <script src="~/js/avro-v1.1.4.min.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        //function noBack() {
        //    window.history.forward()
        //}

        //noBack();
        //window.onload = noBack;
        //window.onpageshow = function (evt) { if (evt.persisted) noBack() }
        //window.onunload = function () { void (0) }
    </script>

    @if (TempData["Message"] != null && TempData["Message"] != "")
    {
        var Message = string.Empty;
        var Title = string.Empty;
        var Msg = string.Empty;

        if (TempData["Message"].ToString().Contains("###"))
        {
            Message = TempData["Message"].ToString().Split("###")[0];
            Title = TempData["Message"].ToString().Split("###")[1];
            Msg = Message.Replace("Success: ", "").Replace("Error: ", "").Replace("Danger: ", "").Replace("Warning: ", "");
        }
        else
        {
            Message = TempData["Message"].ToString();
            Title = string.Empty;
            Msg = Message.Replace("Success: ", "").Replace("Error: ", "").Replace("Danger: ", "").Replace("Warning: ", "");
        }

        var Type = TempData["Message"].ToString().Contains("Success:") ? "success" :
            TempData["Message"].ToString().Contains("Warning:") ? "warning" :
            TempData["Message"].ToString().Contains("Info:") ? "info" :
            TempData["Message"].ToString().Contains("Error:") ? "danger" : "error";

        <script type="text/javascript">
            jQuery.noConflict();

            jQuery(document).ready(function () {
                Notification('@Type', '@Title', '@Msg');

                jQuery("#dash-daterange").flatpickr({
                    altInput: !0,
                    altFormat: "F j, Y",
                    dateFormat: "Y-m-d",
                    defaultDate: "today"
                });
            });
        </script>
    }

    @RenderSection("PageScripts", required: false)
    @RenderSection("PreviewPageScripts", required: false)

    <!--taost -->
    <script src="~/libs/jquery-toast/toastr.js" type="text/javascript"></script>
</body>
</html>