@{
    string baseUrl = $"{this.Context.Request.Scheme}://{this.Context.Request.Host}{this.Context.Request.PathBase}";
}

<div class="navbar-custom">
    <div class="container-fluid">
        <ul class="list-unstyled topnav-menu float-right mb-0">
            <li>
                <div class="button-list" style="margin-top: 20px;">
                    <button id="btnHelp" type="button" class="btn btn-success waves-effect waves-light"
                            onclick="window.location.href='@Url.Action("help", "account")'">
                        <span class="btn-label"><i class="mdi mdi-help"></i></span>Help
                    </button>
                    <button id="btnHowToApply" type="button" class="btn btn-info waves-effect waves-light"
                            onclick="window.open('@baseUrl/docs/how_to_apply.pdf', '_blank')">
                        <span class="btn-label"><i class="mdi mdi-comment-question"></i></span>How to Apply
                    </button>
                    @*<button id="btnSearch" type="button" class="btn btn-warning waves-effect waves-light d-none d-lg-inline">
                            <span class="btn-label"><i class="mdi mdi-folder-search-outline"></i></span>Search
                        </button>*@
                    <button id="btnCertificateVerification" type="button" class="btn btn-primary waves-effect waves-light d-none d-lg-inline"
                            onclick="window.location.href='@Url.Action("verification", "certificate")'">
                        <span class="btn-label"><i class="mdi mdi-certificate"></i></span>Certificate Verification
                    </button>
                    <button id="btnRegister" type="button" class="btn btn-blue waves-effect waves-light"
                            onclick="window.location.href='@Url.Action("register", "account")'">
                        <span class="btn-label"><i class="mdi mdi-registered-trademark"></i></span>Register
                    </button>
                    <button id="btnLogin" type="button" class="btn btn-info waves-effect waves-light d-none d-lg-inline"
                            onclick="window.location.href='@Url.Action("login", "account")'">
                        <span class="btn-label"><i class="mdi mdi-login"></i></span>Login
                    </button>
                </div>
            </li>
        </ul>

        <!-- LOGO -->
        <div class="logo-box d-none">
            <a href="/" class="logo text-center">
                <span class="logo-lg">
                    <img src="~/images/logo-dark.png" alt="" height="38">
                </span>
                <span class="logo-sm">
                    <img src="~/images/logo-dark.png" alt="" height="32">
                </span>
            </a>
        </div>
    </div>
    <!-- end container-fluid-->
</div>

<script type="text/javascript">
    function PageNavigation(id) {
        window.location = "@Url.Action("login", "account")";
    }
</script>