@using WrpCcNocWeb.Models.UserManagement
@using WrpCcNocWeb.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li>
                    <a href="@Url.Action("index", "home")">
                        <i class="fe-airplay"></i>Dashboards
                    </a>
                </li>

                @{
                    CommonHelper ch = new CommonHelper();

                    try
                    {
                        List<UserMenu> userMenuList = ViewBag.UserMenu; //(List<UserMenu>)Newtonsoft.Json.JsonConvert.DeserializeObject(userMenu, typeof(List<UserMenu>));

                        if (userMenuList == null)
                        {
                            var userMenu = HttpContextAccessor.HttpContext.Request.Cookies["UserMenu"].ToString();
                            userMenuList = (List<UserMenu>)Newtonsoft.Json.JsonConvert.DeserializeObject(userMenu, typeof(List<UserMenu>));
                        }

                        if (userMenuList.Count > 0)
                        {
                            var parentMenu = userMenuList.DistinctBy(d => d.MenuId);

                            foreach (UserMenu pm in parentMenu)
                            {
                                var pAction = pm.Action ?? "";
                                var pController = pm.Controller ?? "";
                                var pMenuTitle = pm.SubMenuTitle ?? "";

                                var subMenus = userMenuList.Where(w => w.MenuId == pm.MenuId).ToList();

                                if (subMenus != null && subMenus.Count > 0)
                                {
                                    <li class="has-submenu">
                                        <a href="#" title="@pm.UserGroupId">
                                            <i class="fe-grid"></i> @pm.MenuTitle <div class="arrow-down"></div>
                                        </a>
                                        <ul class="submenu">
                                            @foreach (UserMenu sm in subMenus)
                                            {
                                                var action = sm.Action ?? "";
                                                var sm_title = sm.SubMenuTitle ?? "";

                                                if (action != "")
                                                {
                                                    <li>
                                                        <a href="@Url.Action(sm.Action.ToString().Trim(), sm.Controller.ToString().Trim())" title="@sm.UserGroupId"> @sm_title</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@sm.UserGroupId"> @sm_title</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    if (pAction != "")
                                    {
                                        <li>
                                            <a href="@Url.Action(pAction, pController)">
                                                <i class="mdi mdi-menu-open"></i> @pm.MenuTitle
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="mdi mdi-menu-open"></i> @pm.MenuTitle
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        }
                    }
                    catch (Exception)
                    {
                        TempData["Message"] = ch.ShowMessage("error", "Menu Not Assigned", "You have no permission yet.");

                        <script type="text/javascript">
                            $(function(){
                                window.location.href = "@Url.Action("login", "acount")";
                            });
                        </script>
                    }
                }

                <!--<li class="has-submenu">
                    <a href="#"> <i class="fe-briefcase"></i>Elements <div class="arrow-down"></div></a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li>
                                    <a href="ui-buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="ui-cards.html">Cards</a>
                                </li>
                                <li>
                                    <a href="ui-portlets.html">Portlets</a>
                                </li>
                                <li>
                                    <a href="ui-tabs-accordions.html">Tabs & Accordions</a>
                                </li>
                                <li>
                                    <a href="ui-modals.html">Modals</a>
                                </li>
                                <li>
                                    <a href="ui-progress.html">Progress</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="ui-notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="ui-images.html">Images</a>
                                </li>
                                <li>
                                    <a href="ui-carousel.html">Carousel</a>
                                </li>
                                <li>
                                    <a href="ui-video.html">Embed Video</a>
                                </li>
                                <li>
                                    <a href="ui-dropdowns.html">Dropdowns</a>
                                </li>
                                <li>
                                    <a href="ui-spinners.html">Spinners</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="ui-ribbons.html">Ribbons</a>
                                </li>
                                <li>
                                    <a href="ui-tooltips-popovers.html">Tooltips & Popovers</a>
                                </li>
                                <li>
                                    <a href="ui-general.html">General UI</a>
                                </li>
                                <li>
                                    <a href="ui-typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="ui-grid.html">Grid</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="fe-cpu"></i>Admin UI <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="admin-widgets.html">Widgets</a>
                        </li>
                        <li>
                            <a href="admin-nestable.html">Nestable List</a>
                        </li>
                        <li>
                            <a href="admin-range-slider.html">Range Slider</a>
                        </li>
                        <li>
                            <a href="admin-animation.html">Animation</a>
                        </li>
                        <li>
                            <a href="admin-sweet-alert.html">Sweet Alert</a>
                        </li>
                        <li>
                            <a href="admin-tour.html">Tour Page</a>
                        </li>
                        <li>
                            <a href="admin-loading-buttons.html">Loading Buttons</a>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#">
                        <i class="fe-layers"></i>Components <div class="arrow-down"></div>
                    </a>
                    <ul class="submenu">
                        <li class="has-submenu">
                            <a href="#">Forms <div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="forms-elements.html">General Elements</a>
                                </li>
                                <li>
                                    <a href="forms-advanced.html">Advanced</a>
                                </li>
                                <li>
                                    <a href="forms-validation.html">Validation</a>
                                </li>
                                <li>
                                    <a href="forms-pickers.html">Pickers</a>
                                </li>
                                <li>
                                    <a href="forms-wizard.html">Wizard</a>
                                </li>
                                <li>
                                    <a href="forms-masks.html">Masks</a>
                                </li>
                                <li>
                                    <a href="forms-summernote.html">Summernote</a>
                                </li>
                                <li>
                                    <a href="forms-quilljs.html">Quilljs Editor</a>
                                </li>
                                <li>
                                    <a href="forms-file-uploads.html">File Uploads</a>
                                </li>
                                <li>
                                    <a href="forms-x-editable.html">X Editable</a>
                                </li>
                                <li>
                                    <a href="forms-image-crop.html">Image Crop</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Tables <div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="tables-basic.html">Basic Tables</a>
                                </li>
                                <li>
                                    <a href="tables-datatables.html">Data Tables</a>
                                </li>
                                <li>
                                    <a href="tables-editable.html">Editable Tables</a>
                                </li>
                                <li>
                                    <a href="tables-responsive.html">Responsive Tables</a>
                                </li>
                                <li>
                                    <a href="tables-footables.html">FooTable</a>
                                </li>
                                <li>
                                    <a href="tables-bootstrap.html">Bootstrap Tables</a>
                                </li>
                                <li>
                                    <a href="tables-tablesaw.html">Tablesaw Tables</a>
                                </li>
                                <li>
                                    <a href="tables-jsgrid.html">JsGrid Tables</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Charts <div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="charts-flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="charts-morris.html">Morris Charts</a>
                                </li>
                                <li>
                                    <a href="charts-chartjs.html">Chartjs Charts</a>
                                </li>
                                <li>
                                    <a href="charts-peity.html">Peity Charts</a>
                                </li>
                                <li>
                                    <a href="charts-chartist.html">Chartist Charts</a>
                                </li>
                                <li>
                                    <a href="charts-c3.html">C3 Charts</a>
                                </li>
                                <li>
                                    <a href="charts-sparklines.html">Sparklines Charts</a>
                                </li>
                                <li>
                                    <a href="charts-knob.html">Jquery Knob Charts</a>
                                </li>
                                <li>
                                    <a href="charts-ricksaw.html">Ricksaw Charts</a>
                                </li>
                                <li>
                                    <a href="charts-just-gage.html">JustGage Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Icons <div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="icons-feather.html">Feather Icons</a>
                                </li>
                                <li>
                                    <a href="icons-mdi.html">Material Design Icons</a>
                                </li>
                                <li>
                                    <a href="icons-dripicons.html">Dripicons</a>
                                </li>
                                <li>
                                    <a href="icons-font-awesome.html">Font Awesome</a>
                                </li>
                                <li>
                                    <a href="icons-themify.html">Themify</a>
                                </li>
                                <li>
                                    <a href="icons-simple-line.html">Simple Line</a>
                                </li>
                                <li>
                                    <a href="icons-weather.html">Weather</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Maps <div class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="maps-google.html">Google Maps</a>
                                </li>
                                <li>
                                    <a href="maps-vector.html">Vector Maps</a>
                                </li>
                                <li>
                                    <a href="maps-mapael.html">Mapael Maps</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="fe-package"></i>Pages <div class="arrow-down"></div></a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li>
                                    <a href="pages-starter.html">Starter</a>
                                </li>
                                <li>
                                    <a href="pages-login.html">Log In</a>
                                </li>
                                <li>
                                    <a href="pages-register.html">Register</a>
                                </li>
                                <li>
                                    <a href="pages-signin-signup.html">Signin - Signup</a>
                                </li>
                                <li>
                                    <a href="pages-recoverpw.html">Recover Password</a>
                                </li>
                                <li>
                                    <a href="pages-lock-screen.html">Lock Screen</a>
                                </li>
                                <li>
                                    <a href="pages-logout.html">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="pages-confirm-mail.html">Confirm Mail</a>
                                </li>
                                <li>
                                    <a href="pages-404.html">Error 404</a>
                                </li>
                                <li>
                                    <a href="pages-404-alt.html">Error 404-alt</a>
                                </li>
                                <li>
                                    <a href="pages-500.html">Error 500</a>
                                </li>
                                <li>
                                    <a href="extras-profile.html">Profile</a>
                                </li>
                                <li>
                                    <a href="extras-timeline.html">Timeline</a>
                                </li>
                                <li>
                                    <a href="extras-sitemap.html">Sitemap</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="extras-invoice.html">Invoice</a>
                                </li>
                                <li>
                                    <a href="extras-faqs.html">FAQs</a>
                                </li>
                                <li>
                                    <a href="extras-search-results.html">Search Results</a>
                                </li>
                                <li>
                                    <a href="extras-pricing.html">Pricing</a>
                                </li>
                                <li>
                                    <a href="extras-maintenance.html">Maintenance</a>
                                </li>
                                <li>
                                    <a href="extras-coming-soon.html">Coming Soon</a>
                                </li>
                                <li>
                                    <a href="extras-gallery.html">Gallery</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="fe-sidebar"></i>Layouts <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="layouts-topbar-dark.html">Topbar Dark</a>
                        </li>
                        <li>
                            <a href="layouts-menubar-light.html">Menubar Light</a>
                        </li>
                        <li>
                            <a href="layouts-center-menu.html">Center Menu</a>
                        </li>
                        <li>
                            <a href="layouts-topbar-gradient.html">Gradient Topbar</a>
                        </li>
                        <li>
                            <a href="layouts-menu-drop-dark.html">Menu Drop Dark</a>
                        </li>
                        <li>
                            <a href="layouts-preloader.html">Preloader</a>
                        </li>
                        <li>
                            <a href="layouts-normal-header.html">Unsticky Header</a>
                        </li>
                        <li>
                            <a href="layouts-boxed.html">Boxed</a>
                        </li>
                    </ul>
                </li>-->
            </ul>

            <div class="clearfix"></div>
        </div>
    </div>

    <script type="text/javascript">
        //console.log(read_cookie('UserMenu'));

        function read_cookie(key) {
            var regexp = new RegExp('(?:^|; )' + key + '=([^;]*)(?:$|; )');
            var match = document.cookie.match(regexp);

            if (match) {
                var rawValue = match[1];
                try {
                    var decodedValue = decodeURIComponent(rawValue);
                    return decodedValue;
                } catch (ex) {
                    return 'failed to decode cookie';
                }
            } else {
                return 'cookie not found';
            }
        }
    </script>
</div>