
<input id="pProjectId" type="hidden" />
<input id="pProject31IndvId" type="hidden" />
<input id="pUserId" type="hidden" />
<input id="pProjectTypeId" type="hidden" />

<center>
    <h3 class="HeaderTitle">Application for Clearance Certificate</h3>
    <h4 class="HeaderSubTitle">(Flood Control/ Management Project)</h4>
</center>

<div id="form-preview" class="container">
    <div class="row lineGap">
        <div class="col">
            <span>To</span><br />
            <span>Executive Committee</span><br />
            <span>National Water Resources Project Committee.</span>
        </div>
    </div>
    <br />
    <div class="row lineGap">
        <div class="col">
            <p><strong>Through : </strong>Director General, Water Resources Planning Organization</p>
        </div>
    </div>
    <div class="row lineGap">
        <div class="col">
            <p>
                I, the undersigned, willing to initiate and implement a project on Flood Control/Management,
                And I am hereby requesting for clearance certificate with relevant attachments
            </p>
        </div>
    </div>
    <div class="row lineGap">
        <div class="col-md-12">
            <p><strong>Full Name and Address of Applicant : </strong></p>
        </div>
        <div class="col-md-12">
            <div>Mr. ABCD XYZ,</div>
            <div>H-06, R-23/C, Gulshan-1, Dhaka-1212</div>
            <div>Mobile: 01XXXXXXXXX</div>
            <div>E-Mail: abcd@xyz.com</div>
        </div>
    </div>
    <h3>A. General Information</h3>
    <div class="row">
        <div class="col">
            <label for="pname"><b>i. Project Name:</b></label>
        </div>
        <div class="col">
            <div id="pProjectName">xxxxxxxxxxxxxxxxxx</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="pbg"><b>ii. Project Background and Rationale</b></label>
        </div>
        <div class="col">
            <div id="pBackgroundAndRationale">xxxxxxxxxxxxxxxxxx</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="pbg"><b>iii. Project Target</b></label>
        </div>
        <div class="col">
            <div id="pProjectTarget">xxxxxxxxxxxxxxxxxx</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="pbg"><b>iv. Project Objective</b></label>
        </div>
        <div class="col">
            <div id="pProjectObjective">xxxxxxxxxxxxxxxxxx</div>
        </div>
    </div>

    <div class="row">
        <label for="pbg"><b>iv. Project Location</b></label>
    </div>
    <div class="row">
        <table style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Union</th>
                    <th class="text-center">Upazila</th>
                    <th class="text-center">District</th>
                    <th class="text-center">Latitude</th>
                    <th class="text-center">Longitude</th>
                </tr>
            </thead>
            <tbody id="tbodyProjectLocationPreview"></tbody>
        </table>
    </div>
    <br />

    <div class="row">
        <div class="col">
            <label for="pbg"><b>viii. Estimated Project Cost</b></label>
        </div>
        <div class="col">
            <p id="pProjectEstimatedCost">000000</p> <br />
        </div>
    </div>

    <label for="pbg"><b>vii. Project Period</b></label>

    <table>
        <tr>
            <th>Starting time</th>
            <th>Completion time</th>
        </tr>
        <tr>
            <td id="pProjectStartDate">XX/XX/XXXX</td>
            <td id="pProjectCompletionDate">XX/XX/XXXX</td>
        </tr>
    </table>
    <br />

    <h3>B. Technical Information</h3>
    <h4>1. Discussion about baseline related information or situation</h4>
    <label for="pbg"><b>vi.	Hydrological Region</b></label>

    <table>
        <tr>
            <td id="tdHydrologicalRegion-1" title="1" class=""> North Central </td>
            <td id="tdHydrologicalRegion-2" title="2" class=""> Northeast </td>
            <td id="tdHydrologicalRegion-3" title="3" class=""> Northwest </td>
            <td id="tdHydrologicalRegion-4" title="4" class=""> South Central </td>
            <td id="tdHydrologicalRegion-5" title="5" class=""> Southeast </td>
            <td id="tdHydrologicalRegion-6" title="6" class=""> Southwest </td>
            <td id="tdHydrologicalRegion-7" title="7" class=""> River and Estuary </td>
            <td id="tdHydrologicalRegion-8" title="8" class=""> Eastern Hills </td>
        </tr>
    </table>

    <br />

    <label for="pbg"><b>vii. Bangladesh Delta Plan 2100 Hot Spot</b></label>
    <table>
        <tr>
            <td id="tdBDP2100HotSpot-1" title="1" class=""> Coastal Areas </td>
            <td id="tdBDP2100HotSpot-2" title="2" class=""> Barind Tract and Drought-Prone Region </td>
            <td id="tdBDP2100HotSpot-3" title="3" class=""> Haor (backswamp) and Flash Flood-Prone Areas </td>
            <td id="tdBDP2100HotSpot-4" title="4" class=""> Chittagong Hill Tract region </td>
            <td id="tdBDP2100HotSpot-5" title="5" class=""> River Region and Estuaries </td>
            <td id="tdBDP2100HotSpot-6" title="6" class=""> Urban Region </td>
        </tr>
    </table><br />

    <label for="pbg"><b>iii. Hydrological System </b></label>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Hydrological System</th>
                <th>Name</th>
                <th>Length or Area</th>
            </tr>
        </thead>
        <tbody id="tbodyHydrologicalSystemPreview"></tbody>
    </table>
    <br />

    <label for="pbg"><b>iv.	Connectivity amid khals, river and wetland</b></label> <p id="pConnectivityAmidWaterland">xxxxxxxxxxxxxxxxxx</p> <br />

    <label for="pbg"><b>v. Catchment Area (ha)</b></label> <p id="pCatchmentArea">xxxxxxxxxxxxxxxxxx</p>

    <label for="pbg"><b>vi. Annual Rainfall (last five years) </b></label>

    <table>
        <tr>
            <th class="text-center">
                @{
                    int year1 = DateTime.Now.Year - 1;
                    <span>@year1</span>
                }
            </th>
            <th class="text-center">
                @{
                    int year2 = DateTime.Now.Year - 2;
                    <span>@year2</span>
                }
            </th>
            <th class="text-center">
                @{
                    int year3 = DateTime.Now.Year - 3;
                    <span>@year3</span>
                }
            </th>
            <th class="text-center">
                @{
                    int year4 = DateTime.Now.Year - 4;
                    <span>@year4</span>
                }
            </th>
            <th class="text-center">
                @{
                    int year5 = DateTime.Now.Year - 5;
                    <span>@year5</span>
                }
            </th>
        </tr>
        <tr>
            <td id="pAnnualRainFallLast1Year">xxxxxxxxx</td>
            <td id="pAnnualRainFallLast2Years">xxxxxxxxx</td>
            <td id="pAnnualRainFallLast3Years">xxxxxxxxx</td>
            <td id="pAnnualRainFallLast4Years">xxxxxxxxx</td>
            <td id="pAnnualRainFallLast5Years">xxxxxxxxx</td>
        </tr>
    </table><br />

    <label for="pbg"><b>vii. Highest Flood Level (m PWD)</b></label> <p id="pHighestFloodLevel">xxxxxxxxx</p>

    <label for="pbg"><b>viii. Maximum Discharge (m3/s)</b></label> <p id="pMaximumDischarge">xxxxxxxxx</p> <br />

    <label for="pbg"><b>ix. Types of Flood</b></label>
    <table>
        <tr>
            <td id="tdTypesOfFlood-1" title="1" class=""> Rainfall Flood </td>
            <td id="tdTypesOfFlood-2" title="2" class=""> River Flood </td>
            <td id="tdTypesOfFlood-3" title="3" class=""> Flash Flood </td>
            <td id="tdTypesOfFlood-4" title="4" class=""> Coastal/ Tidal Flood </td>
            <td id="tdTypesOfFlood-5" title="5" class=""> Storm Surge Flood </td>
        </tr>
    </table>

    <br />

    <label for="pbg"><b>x.	Flood Frequency Analysis (Maximum water level in m, PWD)</b></label>
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Flood Frequency</th>
                <th class="text-center">Frequency</th>
            </tr>
        </thead>
        <tbody id="tbodyFloodFrequencyPreview"></tbody>
    </table>

    <br />

    <label for="pbg"><b>xi. Drainage Condition </b></label>
    <table>
        <tr>
            <td id="tdDrainageCondition-1" title="1" class=""> Good </td>
            <td id="tdDrainageCondition-2" title="2" class=""> Moderate </td>
            <td id="tdDrainageCondition-3" title="3" class=""> Poor </td>
            <td id="tdDrainageCondition-4" title="4" class=""> Others </td>
        </tr>
    </table><br />


    <label for="pbg"><b>xii. Surface Water Quality</b></label>
    <table>
        <tr>
            <th class="text-center">Salinity (ppm)</th>
            <th class="text-center">DO (mg/l)</th>
            <th class="text-center">TDS</th>
            <th class="text-center">pH</th>
        </tr>
        <tr>
            <td id="pWaterSalinity">XXXX</td>
            <td id="pWaterDO">XXXX</td>
            <td id="pWaterTDS">XXXX</td>
            <td id="pWaterPhLevel">XXXX</td>
        </tr>
    </table><br />

    <label for="pbg"><b>xiii. Land Type (Percent)</b></label>
    <table>
        <tr>
            <th class="text-center">High Land <br />F<sub>0</sub> (0-30 cm)</th>
            <th class="text-center">Medium High Land <br />F<sub>1</sub> (30-90 cm)</th>
            <th class="text-center">Medium Low Land <br />F<sub>2</sub> (90-180 cm)</th>
            <th class="text-center">Low Land <br />F<sub>3</sub> (>180-360 cm)</th>
            <th class="text-center">Very Low Land <br />F<sub>4</sub> (>360 cm)</th>
        </tr>
        <tr>
            <td class="text-center" id="pHighLandPercent">XXXX</td>
            <td class="text-center" id="pMediumHighLandPercent">XXXX</td>
            <td class="text-center" id="pMediumLowLandPercent">XXXX</td>
            <td class="text-center" id="pLowLandPercent">XXXX</td>
            <td class="text-center" id="pVeryLowLandPercent">XXXX</td>
        </tr>
    </table><br />

    <label for="pbg"><b>i. Cultivable Crops</b></label> <p id="pCultivableCrops">Peragraph</p> <br />

    <label for="pbg"><b>ii.	Irrigated Crop Area (ha)</b></label>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Crops Name</th>
                <th>Area</th>
            </tr>
        </thead>
        <tbody id="tbodyIrrigatedCropAreaPreview"></tbody>
    </table><br />

    <label for="pbg"><b>iii. Crop production (Ton)</b></label> <p id="pCropProduction">XXXXXXXXXXXXXXXX</p> <br />

    <label for="pbg"><b>iv. Fish Production, Diversity and Migration</b></label>
    <table>
        <tr>
            <th>Production</th>
            <th>Diversity</th>
            <th>Migration</th>
        </tr>
        <tr>
            <td class="text-center" id="pFishProduction">XXXX</td>
            <td class="text-center" id="pFishDiversity">XXXX</td>
            <td class="text-center" id="pFishMigration">XXXX</td>
        </tr>
    </table><br />

    <label for="pbg"><b>v. Flora and Fauna </b></label> <p id="pFloraAndFauna">Peragraph</p> <br />

    <label for="pbg"><b>vi. Socio Economic Condition</b></label>
    <table>
        <tr>
            <th>% of land less people</th>
            <th>% of small farmer</th>
            <th>Average monthly income</th>
        </tr>
        <tr>
            <td class="text-center" id="pLandLessPeoplePercentage">XXXX</td>
            <td class="text-center" id="pSmallFarmerPercentage">XXXX</td>
            <td class="text-center" id="pAvgMonthlyIncome">XXXX</td>
        </tr>
    </table>

    <h4>2. Issue, Challenge or Problem</h4> <p id="pIssueChallageProblem">XXXXXXXXXXXXX</p> <br />

    <h4>3. Discussion with stakeholders during starting of the project </h4>  <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td id="pchkDSDSPYes" class="text-center"></td>
            <td id="pchkDSDSPNo" class="text-center"></td>
            <td id="pDiscussWithStakeApplicantCmt">XXXXXXXXXX</td>
            <td id="pDiscussWithStakeAuthorityCmt">XXXXXXXXXX</td>
        </tr>
    </table><br />
    <p>If yes</p>
    <table>
        <tr>
            <th>Positive Feedback</th>
            <th>Negative Feedback</th>
            <th>Participant list</th>
            <th>Meeting minutes</th>
        </tr>
        <tr>
            <td id="pDiscussWithStakePosFeedback">XXXXXXXXXX</td>
            <td id="pDiscussWithStakeNegFeedback">XXXXXXXXXX</td>
            <td id="DiscussWithStakeParticipntLst">Uploaded File</td>
            <td id="DiscussWithStakeMeetingMin">Uploaded File</td>
        </tr>
    </table><br />

    <h4>4.	Analyze Options to fulfill objective </h4>  <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td id="pchkAOFOYes" class="text-center"></td>
            <td id="pchkAOFONo" class="text-center"></td>
            <td id="pAnalyzeOptionsApplicantCmt">XXXXXXXXXX</td>
            <td id="pAnalyzeOptionsAuthorityCmt">XXXXXXXXXX</td>
        </tr>
    </table><br />
    <p>If yes</p>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Option</th>
                <th>Description</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody id="tbodyAnalyzeOptFulfillObjPreview"></tbody>
    </table>

    <br />

    <h4>5. Design submitted with project document</h4>  <br />
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Parameters</th>
                <th class="text-center">Yes</th>
                <th class="text-center">No</th>
                <th class="text-center">Applicant Comments</th>
                <th class="text-center">Authority Comments</th>
            </tr>
        </thead>
        <tbody id="tbodyDesignSubProjDocPreview"></tbody>

    </table><br />
    <h4>6. Environmental and Social Impact Assessment  </h4>  <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td id="pchkESIAYes"></td>
            <td id="pchkESIANo"></td>
            <td id="pEnvAndSocialApplicantCmt">XXXXXXXXXXXXXXXXXXXX</td>
            <td id="pEnvAndSocialAuthorityCmt">XXXXXXXXXXXXXXXXXXXX</td>
        </tr>
    </table><br />

    <p>If yes</p>
    <p> <b>(a) Environmental Impact Assessment</b></p>
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Parameters</th>
                <th class="text-center">Pre Project Situation</th>
                <th class="text-center">Post Project Situation</th>
                <th class="text-center">Positive/ Negative Impact</th>
                <th class="text-center">Mitigation Plan</th>
            </tr>
        </thead>
        <tbody id="tbodyEIADetailPreview"></tbody>
    </table>

    <br />

    <p><b>(b) Social Impact Assessment</b></p>
    <table>
        <tbody>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Parameters</th>
                <th class="text-center">Pre Project Situation</th>
                <th class="text-center">Post Project Situation</th>
                <th class="text-center">Positive/ Negative Impact</th>
                <th class="text-center">Mitigation Plan</th>
            </tr>
        </tbody>
        <tbody id="tbodySIADetailPreview"></tbody>
    </table><br />

    <h4>7. Use of Appropriate tools, technics, analytical procedures etc</h4>  <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td id="pchkAppropriateTTAPYes"></td>
            <td id="pchkAppropriateTTAPNo"></td>
            <td id="pToolsApplicantComments">abcd</td>
            <td id="pToolsAuthorityComments">abcd</td>
        </tr>
    </table><br />

    <h4>8. Economical & Financial Analysis</h4>
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Item</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Applicant Comments</th>
                <th class="text-center">Authority Comments</th>
            </tr>
        </thead>
        <tbody id="tbodyEcoFinAnaPreview"></tbody>
    </table>

    <br />

    <h3>C. Deed Obligatory</h3><br />
    <h4>9. Compatibility with National Water Policy</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwnwpYes"></td>
            <td class="text-center" id="pcwnwpNo"></td>
            <td class="text-center" id="pCompatibilityNWPApplicantCmt"></td>
            <td class="text-center" id="pCompatibilityNWPAuthorityCmt"></td>
            <td class="text-center" id="CompatibilityNWPDocLink"></td>
        </tr>
    </table><br />
    <p>If yes</p>
    <ul id="pulCwnwpPolicy"></ul>

    <h4>10.	Compatibility with National Water Management Plan (NWMP)</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="pcnwmpYes"></td>
            <td class="text-center" id="pcnwmpNo"></td>
            <td id="pNWMPApplicantCmt"></td>
            <td id="pNWMPAuthorityCmt"></td>
            <td id="NWMPDocLink"></td>
        </tr>
    </table><br />
    <p>If yes</p> <br />
    <ul id="pulCwnwmpPolicy"></ul>

    <h4>11.	Compatibility with Current Fifth Year Plan (FYP)</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwcfypYes"></td>
            <td class="text-center" id="pcwcfypNo"></td>
            <td id="pFYPApplicantCmt"></td>
            <td id="pFYPAuthorityCmt"></td>
        </tr>
    </table><br />

    <h4>12. Compatibility with Sustainable Development Goal (SDG)</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwsdgYes"></td>
            <td class="text-center" id="pcwsdgNo"></td>
            <td id="pSDGApplicantCmt"></td>
            <td id="pSDGAuthorityCmt"></td>
            <td id="SDGDocLink"></td>
        </tr>
    </table><br />
    <p>If yes</p>
    <ul id="pulSDGGoals"></ul>
    <p>SDG 6.0 Indicators</p>
    <ul id="pulSDGIndicators"></ul>

    <h4>13.	Compatibility with Bangladesh Delta Plan 2100</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwbdp2100Yes"></td>
            <td class="text-center" id="pcwbdp2100No"></td>
            <td id="pDeltaPlan2100ApplicantCmt"></td>
            <td id="pDeltaPlan2100AuthorityCmt"></td>
            <td id="DeltaPlan2100DocLink"></td>
        </tr>
    </table><br />
    <p>If yes</p>
    <ul id="ulCwbdp2100"></ul>

    <h4>14. Compatibility with Coastal Zone Policy</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwczpYes"></td>
            <td class="text-center" id="pcwczpNo"></td>
            <td id="pCostalZoneApplicantCmt"></td>
            <td id="pCostalZoneAuthorityCmt"></td>
            <td id="CostalZoneDocLink"></td>
        </tr>
    </table><br />

    <h4>15.	Compatibility with Agricultural Policy</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwapYes"></td>
            <td class="text-center" id="pcwapNo"></td>
            <td id="pAgriApplicantCmt"></td>
            <td id="pAgriAuthorityCmt"></td>
            <td id="AgriDocLink"></td>
        </tr>
    </table><br />

    <h4>16.	Compatibility with Fisheries Policy</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
            <th>Document Link</th>
        </tr>
        <tr>
            <td class="text-center" id="cwfpYes"></td>
            <td class="text-center" id="cwfpNo"></td>
            <td id="pFisheriesApplicantCmt"></td>
            <td id="pFisheriesAuthorityCmt"></td>
            <td id="FisheriesDocLink"></td>
        </tr>
    </table><br />

    <h4>17. Compatibility with Integrated Water Resource Management (IWRM)</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwiwrmYes"></td>
            <td class="text-center" id="pcwiwrmNo"></td>
            <td id="pIWRMApplicantCmt"></td>
            <td id="pIWRMAuthorityCmt"></td>
        </tr>
    </table><br />

    <h4>18. Compatibility with GPWM</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td class="text-center" id="pcwgpwmYes"></td>
            <td class="text-center" id="pcwgpwmNo"></td>
            <td id="pGPWMApplicantCmt"></td>
            <td id="pGPWMAuthorityCmt"></td>
        </tr>
    </table><br />
    <p>If yes(Type of group formation)</p> <br />
    <ul id="pulGPWMGroupType"></ul>

    <h4>19.	Feasibility Study</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td class="text-center" id="feasibilitystudyYes"></td>
            <td class="text-center" id="feasibilitystudyNo"></td>
            <td id="pFeasibilityApplicantCmt"></td>
            <td id="pFeasibilityAuthorityCmt"></td>
        </tr>
    </table><br />

    <h4>20. Duplication of the project</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td class="text-center" id="pduplicationprojectYes"></td>
            <td class="text-center" id="pduplicationprojectNo"></td>
            <td id="pDuplicationApplicantComments"></td>
            <td id="pDuplicationAuthorityComments"></td>
        </tr>
    </table><br />

    <h4>21. Project development by emphasizing on underprivileged people, child, women and important social issues</h4> <br />
    <table>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>Applicant Comments</th>
            <th>Authority Comments</th>
        </tr>
        <tr>
            <td class="text-center" id="ppdeuYes"></td>
            <td class="text-center" id="ppdeuNo"></td>
            <td id="pSocialIssuesApplicantCmt"></td>
            <td id="pSocialIssuesAuthorityCmt"></td>
        </tr>
    </table><br />

    <h3>D. Administrative</h3>
    <ol type="I">
        <li>NOC from District IWRM committee /Upazila IWRM committee/Union IWRM Committee</li>
        <li>Chalan/ Bank Draft/ Pay order No</li>
    </ol>

    <h4>22.	Recommendation</h4> <br />
    <table>
        <tr>
            <th colspan="3">Clearance</th>
        </tr>
        <tr>
            <td>Yes</td>
            <td>No</td>
            <td>Conditional</td>
        </tr>
    </table><br />

    <table>
        <tr>
            <td></td>
        </tr>
    </table><br />

    <div class="row">
        <div class="col">
            <p> I certify that  the information and attachment provided with this application is correct to the best of my knowledge and belief. </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p></p>
            <p>----------------------</p>
            <p>Signature of Applicant</p>
        </div>
    </div>
</div>

<script type="text/javascript">
        jQuery(document).ready(function () {
            var projectId = '@ViewBag.ProjectCommonDetail.ProjectId';

            SetHiddenValue('pProjectId', projectId);
            SetHiddenValue('pProject31IndvId', projectId);
            SetHiddenValue('pUserId', projectId);
            SetHiddenValue('pProjectTypeId', projectId);

            if (projectId != '') {
                pBindData();

                pGetProjLocationsData();
                pGetHydroSystemData();
                pGetFloodFrequencyData();
                pGetIrrigatedCropAreaData();
                pGetAoFOData();
                pGetDswpdData();
                pGetEiaData();
                pGetSiaData();
                pGetEconFinAnaData();
            }
        });
</script>

<script type="text/javascript">
    function pSetTextValue(control, val) {
        return jQuery('#' + control).text(val);
    }

    function pGetProjLocationsData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_pld", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                console.log('P Loc Data');
                console.log(data);

                if (data.length > 0) {
                    var rows = '';
                    var count = 0;

                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.unionName + '</td><td>' + item.upazilaName + '</td><td>' + item.districtName + '</td><td class="text-right">' + item.latitude + '</td><td class="text-right">' + item.longitude + '</td></tr>';
                    });

                    jQuery("#tbodyProjectLocationPreview").html(rows);
                } else {
                    jQuery("#tbodyProjectLocationPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyProjectLocationPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetHydroSystemData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_hsd", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.hydroSystemCategory + '</td><td>' + item.nameOfHydroSystem + '</td><td>' + item.hydroSystemLengthArea + ' ' + item.hydroSystemUnit + '</td></tr>';
                    });

                    jQuery("#tbodyHydrologicalSystemPreview").html(rows);
                } else {
                    jQuery("#tbodyHydrologicalSystemPreview").html('<tr><td colspan="4" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyHydrologicalSystemPreview").html('<tr><td colspan="4" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetFloodFrequencyData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_ffd", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.floodFrequency + '</td><td>' + item.floodFrequencyLevel + '</td></tr>';
                    });

                    jQuery("#tbodyFloodFrequencyPreview").html(rows);
                } else {
                    jQuery("#tbodyFloodFrequencyPreview").html('<tr><td colspan="3" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyFloodFrequencyPreview").html('<tr><td colspan="3" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetIrrigatedCropAreaData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_ica", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.cropName + '</td><td>' + item.area + '</td></tr>';
                    });

                    jQuery("#tbodyIrrigatedCropAreaPreview").html(rows);
                } else {
                    jQuery("#tbodyIrrigatedCropAreaPreview").html('<tr><td colspan="3" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyIrrigatedCropAreaPreview").html('<tr><td colspan="3" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetAoFOData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_aofo", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.optionNumber + '</td><td>' + item.analyzeDescription + '</td><td>' + item.analyzeRemarks + '</td></tr>';
                    });

                    jQuery("#tbodyAnalyzeOptFulfillObjPreview").html(rows);
                } else {
                    jQuery("#tbodyAnalyzeOptFulfillObjPreview").html('<tr><td colspan="4" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyAnalyzeOptFulfillObjPreview").html('<tr><td colspan="4" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetDswpdData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_dswpd", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log('Design submitted with project document');
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        var yesResponse = (item.dswpdYN == 'Yes') ? '✓' : '';
                        var noResponse = (item.dswpdYN == 'No') ? '✓' : '';

                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.parameterName + '</td><td class="text-center">' + yesResponse + '</td><td class="text-center">' + noResponse + '</td><td>' + item.designSubmitApplicantCmt + '</td><td>' + item.designSubmitAuthorityCmt + '</td></tr>';
                    });

                    jQuery("#tbodyDesignSubProjDocPreview").html(rows);
                } else {
                    jQuery("#tbodyDesignSubProjDocPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyDesignSubProjDocPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetEiaData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_eiad", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.parameterName + '</td><td>' + item.preProjectSituation + '</td><td>' + item.postProjectSituation + '</td><td>' + item.positiveNegativeImpact + '</td><td>' + item.mitigationPlan + '</td></tr>';
                    });

                    jQuery("#tbodyEIADetailPreview").html(rows);
                } else {
                    jQuery("#tbodyEIADetailPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyEIADetailPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetSiaData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_siad", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.siaParameterName + '</td><td>' + item.preProjectSituation + '</td><td>' + item.postProjectSituation + '</td><td>' + item.positiveNegativeImpact + '</td><td>' + item.mitigationPlan + '</td></tr>';
                    });

                    jQuery("#tbodySIADetailPreview").html(rows);
                } else {
                    jQuery("#tbodySIADetailPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodySIADetailPreview").html('<tr><td colspan="6" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pGetEconFinAnaData() {
        var ProjectId = GetHiddenValue('ProjectId');
        var url = '@Url.Action("get_efad", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.length > 0) {
                    console.log(data);
                    var rows = '';

                    var count = 0;
                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.ecoAndFinancialParamName + '</td><td>' + item.ecoAndFinancialParamUnit + '</td><td>' + item.ecoAndFinancialApplicantCmt + '</td><td>' + item.ecoAndFinancialAuthorityCmt + '</td></tr>';
                    });

                    jQuery("#tbodyEcoFinAnaPreview").html(rows);
                } else {
                    jQuery("#tbodyEcoFinAnaPreview").html('<tr><td colspan="5" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyEcoFinAnaPreview").html('<tr><td colspan="5" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
}

    function pBindData() {
        var projectId = '@ViewBag.ProjectCommonDetail.ProjectId';

        if (projectId != '') {
            console.log('ViewBag.ProjectCommonDetail.ProjectId Preview: ' + projectId);

            //General Info
            SetHiddenValue('pProjectId', projectId);

            SetHiddenValue('pProject31IndvId', '@ViewBag.ProjectIndvDetail31.Project31IndvId');
            SetHiddenValue('pUserId', '@ViewBag.ProjectCommonDetail.UserId');
            SetHiddenValue('pProjectTypeId', '@ViewBag.ProjectCommonDetail.ProjectTypeId');

            pSetTextValue('pProjectName', '@ViewBag.ProjectCommonDetail.ProjectName');
            pSetTextValue('pBackgroundAndRationale', '@ViewBag.ProjectCommonDetail.BackgroundAndRationale');
            pSetTextValue('pProjectTarget', '@ViewBag.ProjectCommonDetail.ProjectTarget');
            pSetTextValue('pProjectObjective', '@ViewBag.ProjectCommonDetail.ProjectObjective');
            pSetTextValue('ProjectActivity', '@ViewBag.ProjectCommonDetail.ProjectActivity');
            pSetTextValue('pProjectStartDate', '@ViewBag.ProjectCommonDetail.ProjectStartDate');
            pSetTextValue('pProjectCompletionDate', '@ViewBag.ProjectCommonDetail.ProjectCompletionDate');
            pSetTextValue('pProjectEstimatedCost', '@ViewBag.ProjectCommonDetail.ProjectEstimatedCost');

            var hrs = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.HydroRegionDetail))');
            jQuery.each(hrs, function (i, item) {
                jQuery("#tdHydrologicalRegion-" + item.hydroRegionId).addClass('bg-dark text-white').prepend('<i class="mdi mdi-check"></i> ');
            });

            var hsd = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.BDP2100HotSpotDetail))');
            jQuery.each(hsd, function (i, item) {
                jQuery("#tdBDP2100HotSpot-" + item.deltaPlanHotSpotId).addClass('bg-dark text-white').prepend('<i class="mdi mdi-check"></i> ');
            });

            pSetTextValue('pConnectivityAmidWaterland', '@ViewBag.ProjectIndvDetail31.ConnectivityAmidWaterland');
            pSetTextValue('pCatchmentArea', '@ViewBag.ProjectIndvDetail31.CatchmentArea');

            pSetTextValue('pAnnualRainFallLast1Year', '@ViewBag.ProjectCommonDetail.AnnualRainFallLast1Year');
            pSetTextValue('pAnnualRainFallLast2Years', '@ViewBag.ProjectCommonDetail.AnnualRainFallLast2Years');
            pSetTextValue('pAnnualRainFallLast3Years', '@ViewBag.ProjectCommonDetail.AnnualRainFallLast3Years');
            pSetTextValue('pAnnualRainFallLast4Years', '@ViewBag.ProjectCommonDetail.AnnualRainFallLast4Years');
            pSetTextValue('pAnnualRainFallLast5Years', '@ViewBag.ProjectCommonDetail.AnnualRainFallLast5Years');

            pSetTextValue('pHighestFloodLevel', '@ViewBag.ProjectIndvDetail31.HighestFloodLevel');
            pSetTextValue('pMaximumDischarge', '@ViewBag.ProjectIndvDetail31.MaximumDischarge');

            var tof = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.TypesOfFloodDetail))');
            jQuery.each(tof, function (i, item) {
                jQuery("#tdTypesOfFlood-" + item.floodTypeId).addClass('bg-dark text-white').prepend('<i class="mdi mdi-check"></i> ');
            });

            //tdDrainageCondition
            jQuery("#tdDrainageCondition-" + @ViewBag.ProjectIndvDetail31.DrainageConditionId).addClass('bg-dark text-white').prepend('<i class="mdi mdi-check"></i> ');

            pSetTextValue('pWaterSalinity', '@ViewBag.ProjectIndvDetail31.WaterSalinity');
            pSetTextValue('pWaterDO', '@ViewBag.ProjectIndvDetail31.WaterDO');
            pSetTextValue('pWaterTDS', '@ViewBag.ProjectIndvDetail31.WaterTDS');
            pSetTextValue('pWaterPhLevel', '@ViewBag.ProjectIndvDetail31.WaterPhLevel');
            pSetTextValue('pHighLandPercent', '@ViewBag.ProjectIndvDetail31.HighLandPercent');
            pSetTextValue('pMediumHighLandPercent', '@ViewBag.ProjectIndvDetail31.MediumHighLandPercent');
            pSetTextValue('pMediumLowLandPercent', '@ViewBag.ProjectIndvDetail31.MediumLowLandPercent');
            pSetTextValue('pLowLandPercent', '@ViewBag.ProjectIndvDetail31.LowLandPercent');
            pSetTextValue('pVeryLowLandPercent', '@ViewBag.ProjectIndvDetail31.VeryLowLandPercent');
            pSetTextValue('pCultivableCrops', '@ViewBag.ProjectIndvDetail31.CultivableCrops');
            pSetTextValue('pCropProduction', '@ViewBag.ProjectIndvDetail31.CropProduction');
            pSetTextValue('pFishProduction', '@ViewBag.ProjectIndvDetail31.FishProduction');
            pSetTextValue('pFishDiversity', '@ViewBag.ProjectIndvDetail31.FishDiversity');
            pSetTextValue('pFishMigration', '@ViewBag.ProjectIndvDetail31.FishMigration');
            pSetTextValue('pFloraAndFauna', '@ViewBag.ProjectIndvDetail31.FloraAndFauna');
            pSetTextValue('pLandLessPeoplePercentage', '@ViewBag.ProjectIndvDetail31.LandLessPeoplePercentage');
            pSetTextValue('pSmallFarmerPercentage', '@ViewBag.ProjectIndvDetail31.SmallFarmerPercentage');
            pSetTextValue('pAvgMonthlyIncome', '@ViewBag.ProjectIndvDetail31.AvgMonthlyIncome');

            pSetTextValue('pIssueChallageProblem', '@ViewBag.ProjectCommonDetail.IssueChallageProblem');

            if ('@ViewBag.ProjectCommonDetail.YesNoStakeId' == '1') {
                jQuery("#pchkDSDSPYes").text('✓');
                jQuery("#pchkDSDSPNo").text('');
            } else {
                jQuery("#pchkDSDSPNo").text('✓');
                jQuery("#pchkDSDSPYes").text('');
            }

            pSetTextValue('pDiscussWithStakeApplicantCmt', '@ViewBag.ProjectCommonDetail.DiscussWithStakeApplicantCmt');
            pSetTextValue('pDiscussWithStakeAuthorityCmt', '@ViewBag.ProjectCommonDetail.DiscussWithStakeAuthorityCmt');
            pSetTextValue('pDiscussWithStakePosFeedback', '@ViewBag.ProjectCommonDetail.DiscussWithStakePosFeedback');
            pSetTextValue('pDiscussWithStakeNegFeedback', '@ViewBag.ProjectCommonDetail.DiscussWithStakeNegFeedback');

            if ('@ViewBag.ProjectCommonDetail.AnalyzeOptYesNoId' == '1') {
                jQuery("#pchkAOFOYes").text('✓');
                jQuery("#pchkAOFONo").text('');
            } else {
                jQuery("#pchkAOFONo").text('✓');
                jQuery("#pchkAOFOYes").text('');
            }

            pSetTextValue('pAnalyzeOptionsApplicantCmt', '@ViewBag.ProjectCommonDetail.AnalyzeOptionsApplicantCmt');
            pSetTextValue('pAnalyzeOptionsAuthorityCmt', '@ViewBag.ProjectCommonDetail.AnalyzeOptionsAuthorityCmt');

            if ('@ViewBag.ProjectCommonDetail.EnvAndSocialYesNoId' == '1') {
                jQuery("#pchkESIAYes").text('✓');
                jQuery("#pchkESIANo").text('');
            } else {
                jQuery("#pchkESIANo").text('✓');
                jQuery("#pchkESIAYes").text('');
            }

            pSetTextValue('pEnvAndSocialApplicantCmt', '@ViewBag.ProjectCommonDetail.EnvAndSocialApplicantCmt');
            pSetTextValue('pEnvAndSocialAuthorityCmt', '@ViewBag.ProjectCommonDetail.EnvAndSocialAuthorityCmt');

            if ('@ViewBag.ProjectIndvDetail31.UseOfToolsYesNoId' == '1') {
                jQuery("#pchkAppropriateTTAPYes").text('✓');
                jQuery("#pchkAppropriateTTAPNo").text('');
            } else {
                jQuery("#pchkAppropriateTTAPNo").text('✓');
                jQuery("#pchkAppropriateTTAPYes").text('');
            }

            pSetTextValue('pToolsApplicantComments', '@ViewBag.ProjectIndvDetail31.ToolsApplicantComments');
            pSetTextValue('pToolsAuthorityComments', '@ViewBag.ProjectIndvDetail31.ToolsAuthorityComments');

            if ('@ViewBag.ProjectCommonDetail.CompatNWPYesNoId' == '1') {
                jQuery("#pcwnwpYes").text('✓');
                jQuery("#pcwnwpNo").text('');
            } else {
                jQuery("#pcwnwpNo").text('✓');
                jQuery("#pcwnwpYes").text('');
            }

            pSetTextValue('pCompatibilityNWPApplicantCmt', '@ViewBag.ProjectCommonDetail.CompatibilityNWPApplicantCmt');
            pSetTextValue('pCompatibilityNWPAuthorityCmt', '@ViewBag.ProjectCommonDetail.CompatibilityNWPAuthorityCmt');

            var nwp = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CompatNWPDetail))');
            jQuery.each(nwp, function (i, item) {
                jQuery("#pulCwnwpPolicy").append('<li>' + item.nationalWtrPolicyShortTitle + ' (' + item.nationalWtrPolicyArticleTitle + ') </li>');
            });

            if ('@ViewBag.ProjectCommonDetail.CompatNWPYesNoId' == '1') {
                jQuery("#pcnwmpYes").text('✓');
                jQuery("#pcnwmpNo").text('');
            } else {
                jQuery("#pcnwmpNo").text('✓');
                jQuery("#pcnwmpYes").text('');
            }

            pSetTextValue('pNWMPApplicantCmt', '@ViewBag.ProjectCommonDetail.NWMPApplicantCmt');
            pSetTextValue('pNWMPAuthorityCmt', '@ViewBag.ProjectCommonDetail.NWMPAuthorityCmt');

            var nwmp = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CompatNWMPDetail))');
            jQuery.each(nwmp, function (i, item) {
                jQuery("#pulCwnwmpPolicy").append('<li>' + item.nwmpProgrammeTitle + '</li>');
            });

            if ('@ViewBag.ProjectCommonDetail.FYPYesNoId' == '1') {
                jQuery("#pcwcfypYes").text('✓');
                jQuery("#pcwcfypNo").text('');
            } else {
                jQuery("#pcwcfypNo").text('✓');
                jQuery("#pcwcfypYes").text('');
            }

            pSetTextValue('pFYPApplicantCmt', '@ViewBag.ProjectCommonDetail.FYPApplicantCmt');
            pSetTextValue('pFYPAuthorityCmt', '@ViewBag.ProjectCommonDetail.FYPAuthorityCmt');

            if ('@ViewBag.ProjectCommonDetail.SDGYesNoId' == '1') {
                jQuery("#pcwsdgYes").text('✓');
                jQuery("#pcwsdgNo").text('');
            } else {
                jQuery("#pcwsdgNo").text('✓');
                jQuery("#pcwsdgYes").text('');
            }

            pSetTextValue('pSDGApplicantCmt', '@ViewBag.ProjectCommonDetail.SDGApplicantCmt');
            pSetTextValue('pSDGAuthorityCmt', '@ViewBag.ProjectCommonDetail.SDGAuthorityCmt');

            var sdgdetail = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CompatSDGDetail))');
            jQuery.each(sdgdetail, function (i, item) {
                jQuery("#pulSDGGoals").append('<li>' + item.sdgGoalNumber + ' (' + item.sdgDocLink + ') </li>');
            });

            var sdgindi = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.CompatSDGIndiDetail))');
            jQuery.each(sdgindi, function (i, item) {
                jQuery("#pulSDGIndicators").append('<li>' + item.sdgIndicatorName + '</li>');
            });

            if ('@ViewBag.ProjectCommonDetail.DeltaPlanYesNoId' == '1') {
                jQuery("#pcwbdp2100Yes").text('✓');
                jQuery("#pcwbdp2100No").text('');
            } else {
                jQuery("#pcwbdp2100No").text('✓');
                jQuery("#pcwbdp2100Yes").text('');
            }

            pSetTextValue('pDeltaPlan2100ApplicantCmt', '@ViewBag.ProjectCommonDetail.DeltaPlan2100ApplicantCmt');
            pSetTextValue('pDeltaPlan2100AuthorityCmt', '@ViewBag.ProjectCommonDetail.DeltaPlan2100AuthorityCmt');

            var bdp2100goal = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.BDP2100GoalDetail))');
            jQuery.each(bdp2100goal, function (i, item) {
                jQuery("#pulCwbdp2100").append('<li>' + item.deltPlan2100Goal + '</li>');
            });

            if ('@ViewBag.ProjectCommonDetail.CostalZoneYesNoId' == '1') {
                jQuery("#pcwczpYes").text('✓');
                jQuery("#pcwczpNo").text('');
            } else {
                jQuery("#pcwczpNo").text('✓');
                jQuery("#pcwczpYes").text('');
            }

            pSetTextValue('pCostalZoneApplicantCmt', '@ViewBag.ProjectCommonDetail.CostalZoneApplicantCmt');
            pSetTextValue('pCostalZoneAuthorityCmt', '@ViewBag.ProjectCommonDetail.CostalZoneAuthorityCmt');

            if ('@ViewBag.ProjectCommonDetail.AgriculturalYesNoId' == '1') {
                jQuery("#pcwapYes").text('✓');
                jQuery("#pcwapNo").text('');
            } else {
                jQuery("#pcwapNo").text('✓');
                jQuery("#pcwapYes").text('');
            }

            pSetTextValue('pAgriApplicantCmt', '@ViewBag.ProjectCommonDetail.AgriApplicantCmt');
            pSetTextValue('pAgriAuthorityCmt', '@ViewBag.ProjectCommonDetail.AgriAuthorityCmt');

            if ('@ViewBag.ProjectCommonDetail.FisheriesYesNoId' == '1') {
                jQuery("#pcwfpYes").text('✓');
                jQuery("#pcwfpNo").text('');
            } else {
                jQuery("#pcwfpNo").text('✓');
                jQuery("#pcwfpYes").text('');
            }

            pSetTextValue('pFisheriesApplicantCmt', '@ViewBag.ProjectCommonDetail.FisheriesApplicantCmt');
            pSetTextValue('pFisheriesAuthorityCmt', '@ViewBag.ProjectCommonDetail.FisheriesAuthorityCmt');

            if ('@ViewBag.ProjectCommonDetail.IWRMYesNoId' == '1') {
                jQuery("#pcwiwrmYes").text('✓');
                jQuery("#pcwiwrmNo").text('');
            } else {
                jQuery("#pcwiwrmNo").text('✓');
                jQuery("#pcwiwrmYes").text('');
            }

            pSetTextValue('pIWRMApplicantCmt', '@ViewBag.ProjectCommonDetail.IWRMApplicantCmt');
            pSetTextValue('pIWRMAuthorityCmt', '@ViewBag.ProjectCommonDetail.IWRMAuthorityCmt');

            if ('@ViewBag.ProjectCommonDetail.GPWMYesNoId' == '1') {
                jQuery("#pcwgpwmYes").text('✓');
                jQuery("#pcwgpwmNo").text('');
            } else {
                jQuery("#pcwgpwmNo").text('✓');
                jQuery("#pcwgpwmYes").text('');
            }

            pSetTextValue('pGPWMApplicantCmt', '@ViewBag.ProjectCommonDetail.GPWMApplicantCmt');
            pSetTextValue('pGPWMAuthorityCmt', '@ViewBag.ProjectCommonDetail.GPWMAuthorityCmt');

            var gpwmgroup = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.GPWMGroupType))');
            jQuery.each(gpwmgroup, function (i, item) {
                jQuery("#pulGPWMGroupType").append('<li>' + item.gpwmGroupTypeName + '</li>');
            });

            if ('@ViewBag.ProjectCommonDetail.FeasibilityYesNoId' == '1') {
                jQuery("#pfeasibilitystudyYes").text('✓');
                jQuery("#pfeasibilitystudyNo").text('');
            } else {
                jQuery("#pfeasibilitystudyNo").text('✓');
                jQuery("#pfeasibilitystudyYes").text('');
            }

            pSetTextValue('pFeasibilityApplicantCmt', '@ViewBag.ProjectCommonDetail.FeasibilityApplicantCmt');
            pSetTextValue('pFeasibilityAuthorityCmt', '@ViewBag.ProjectCommonDetail.FeasibilityAuthorityCmt');

            if ('@ViewBag.ProjectIndvDetail31.DuplicatYesNoId' == '1') {
                jQuery("#pduplicationprojectYes").text('✓');
                jQuery("#pduplicationprojectNo").text('');
            } else {
                jQuery("#pduplicationprojectNo").text('✓');
                jQuery("#pduplicationprojectYes").text('');
            }

            pSetTextValue('pDuplicationApplicantComments', '@ViewBag.ProjectIndvDetail31.DuplicationApplicantComments');
            pSetTextValue('pDuplicationAuthorityComments', '@ViewBag.ProjectIndvDetail31.DuplicationAuthorityComments');

            if ('@ViewBag.ProjectCommonDetail.SocialIssuesYesNoId' == '1') {
                jQuery("#ppdeuYes").text('✓');
                jQuery("#ppdeuNo").text('');
            } else {
                jQuery("#ppdeuNo").text('✓');
                jQuery("#ppdeuYes").text('');
            }

            pSetTextValue('pSocialIssuesApplicantCmt', '@ViewBag.ProjectCommonDetail.SocialIssuesApplicantCmt');
            pSetTextValue('pSocialIssuesAuthorityCmt', '@ViewBag.ProjectCommonDetail.SocialIssuesAuthorityCmt');

            pSetTextValue('pRecommendationId', '@ViewBag.ProjectCommonDetail.RecommendationId');
            pSetTextValue('pRecommandCmt', '@ViewBag.ProjectCommonDetail.RecommandCmt');
        }
    }
</script>