@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var prev_lang = HttpContextAccessor.HttpContext.Request.Cookies["FormLanguage"].ToString();
}

<input id="pProjectId" type="hidden" />
<input id="pProject32IndvId" type="hidden" />
<input id="pUserId" type="hidden" />
<input id="pProjectTypeId" type="hidden" />

<div class="col-md-12 text-center">
    <h3 class="HeaderTitle">
        @if (prev_lang == "1")
        {<span>ছাড়পত্রের সনদের জন্য আবেদন</span>}
        else
        {<span>Application for Clearance Certificate</span>}
    </h3>
    <h4 class="HeaderSubTitle">(@ViewBag.ProjectTitle)</h4>
</div>

<div id="form-preview" class="form-preview container">
    <div class="row lineGap">
        <div class="col">
            <span>
                @if (prev_lang == "1")
                {<span>বরাবর</span>}
                else
                {<span>To</span>}
            </span><br />
            <span>
                @if (prev_lang == "1")
                {<span>কার্যনির্বাহী কমিটি</span>}
                else
                {<span>Executive Committee</span>}
            </span><br />
            <span>
                @if (prev_lang == "1")
                {<span>ন্যাশনাল ওয়াটার রিসোর্সেস প্রজেক্ট কমিটি।</span>}
                else
                {<span>National Water Resources Project Committee.</span>}
            </span>
        </div>
    </div>
    <br />
    <div class="row lineGap">
        <div class="col">
            <p>
                @if (prev_lang == "1")
                {<strong>মাধ্যম:</strong>}
                else
                {<strong>Through:</strong>}

                @if (prev_lang == "1")
                {<span>মহাপরিচালক, জল সম্পদ পরিকল্পনা সংস্থা।</span>}
                else
                {<span>Director General, Water Resources Planning Organization.</span>}
            </p>
        </div>
    </div>
    <div class="row lineGap">
        <div class="col">
            <p>
                @if (prev_lang == "1")
                {<span>আমি, নীচে স্বাক্ষরিত, বন্যা নিয়ন্ত্রণ/ পরিচালনা সম্পর্কিত একটি প্রকল্প শুরু এবং বাস্তবায়নে ইচ্ছুক এবং আমি এখানে প্রাসঙ্গিক সংযুক্তিগুলির সাথে ছাড়পত্রের জন্য অনুরোধ করছি।</span>}
                else
                {<span>I, the undersigned, willing to initiate and implement a project on Flood Control/Management, And I am hereby requesting for clearance certificate with relevant attachments.</span>}
            </p>
        </div>
    </div>
    <div class="row lineGap">
        <div class="col-md-12">
            <p>
                <strong>
                    @if (prev_lang == "1")
                    {<span>আবেদনকারীর পুরো নাম এবং ঠিকানা</span>}
                    else
                    {<span>Full Name and Address of Applicant</span>}
                </strong>
            </p>
        </div>
        <div class="col-md-12">
            @if (prev_lang == "1")
            {
                <div>@ViewBag.ApplicantNameBn,</div>
                <div>@ViewBag.ApplicantAddressBn</div>
                <div>যোগাযোগ: @ViewBag.ApplicantMobileBn</div>
                <div>ইমেইল: @ViewBag.ApplicantEmail</div>
            }
            else
            {
                <div>@ViewBag.ApplicantName,</div>
                <div>@ViewBag.ApplicantAddress</div>
                <div>Mobile: @ViewBag.ApplicantMobile</div>
                <div>Email: @ViewBag.ApplicantEmail</div>
            }
        </div>
    </div>

    <h3>
        @if (prev_lang == "1")
        {<span>১. সাধারণ তথ্য</span>}
        else
        {<span>A. General Information</span>}
    </h3>
    <div class="row">
        <div class="col">
            <label for="pname">
                <b>
                    @if (prev_lang == "1")
                    {<span>i. প্রকল্পের নাম</span>}
                    else
                    {<span>i. Project Name:</span>}
                </b>
            </label>
        </div>
        <div class="col">
            <div title="Project Name">
                <span id="pProjectName">xxxxxxxxxxxxxxxxxx</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="pbg">
                <b>
                    @if (prev_lang == "1")
                    {<span>ii. প্রকল্পের পূর্ব ইতিহাস ও যৌক্তিকতা</span>}
                    else
                    {<span>ii. Project Background and Rationale</span>}
                </b>
            </label>
        </div>
        <div class="col">
            <span id="pBackgroundAndRationale" title="Background and Rationale">xxxxxxxxxxxxxxxxxx</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="pbg">
                <b>
                    @if (prev_lang == "1")
                    {<span>iii. প্রকল্পের লক্ষ্য</span>}
                    else
                    {<span>iii. Project Target</span>}
                </b>
            </label>
        </div>
        <div class="col">
            <span id="pProjectTarget">xxxxxxxxxxxxxxxxxx</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="pbg">
                <b>
                    @if (prev_lang == "1")
                    {<span>iv. প্রকল্পের উদ্দেশ্য</span>}
                    else
                    {<span>iv. Project Objective</span>}
                </b>
            </label>
        </div>
        <div class="col">
            <span id="pProjectObjective">xxxxxxxxxxxxxxxxxx</span>
        </div>
    </div>

    <div class="row">
        <label for="pbg">
            <b>
                @if (prev_lang == "1")
                {<span>iv. প্রকল্পের অবস্থান</span>}
                else
                {<span>iv. Project Location</span>}
            </b>
        </label> &nbsp;
        <a id="btnMapView" href="javascript:void(0);" target="_blank" class="btn btn-sm btn-info waves-effect"
           data-toggle="tooltip" data-placement="top" title="" data-original-title="View Map"
           style="margin: 0px !important; padding: 05px !important; line-height: 1 !important;">
            <i class="mdi mdi-map"></i>
        </a>
    </div>

    <div class="row">
        <table style="width:100%; border: 1px solid #232323;">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">
                        @if (prev_lang == "1")
                        {<span>ইউনিয়ন</span>}
                        else
                        {<span>Union</span>}
                    </th>
                    <th class="text-center">
                        @if (prev_lang == "1")
                        {<span>উপজেলা</span>}
                        else
                        {<span>Upazila</span>}
                    </th>
                    <th class="text-center">
                        @if (prev_lang == "1")
                        {<span>জেলা</span>}
                        else
                        {<span>District</span>}
                    </th>
                    <th class="text-center">
                        @if (prev_lang == "1")
                        {<span>অক্ষাংশ</span>}
                        else
                        {<span>Latitude</span>}
                    </th>
                    <th class="text-center">
                        @if (prev_lang == "1")
                        {<span>দ্রাঘিমাংশ</span>}
                        else
                        {<span>Longitude</span>}
                    </th>
                    <th class="text-center">
                        @if (prev_lang == "1")
                        {<span>সংযুক্তি</span>}
                        else
                        {<span>Attchments</span>}
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyProjectLocationPreview"></tbody>
        </table>
    </div>
    <br />

    <div class="row">
        <div class="col">
            <label for="pbg">
                <b>
                    @if (prev_lang == "1")
                    {<span>viii. প্রকল্প ব্যয়</span>}
                    else
                    {<span>viii. Estimated Project Cost</span>}
                </b>
            </label>
        </div>
        <div class="col">
            <span id="pProjectEstimatedCost">xxxxxxxxxxxxxxxxxx</span>
        </div>
    </div>

    <label for="pbg">
        <b>
            @if (prev_lang == "1")
            {<span>vii. প্রকল্প সময়কাল</span>}
            else
            {<span>vii. Project Period</span>}
        </b>
    </label>
    <table>
        <tr>
            <th>
                @if (prev_lang == "1")
                {<span>প্রাম্ভিক কাল</span>}
                else
                {<span>Starting time</span>}
            </th>
            <th>
                @if (prev_lang == "1")
                {<span>সমাপ্তি কাল</span>}
                else
                {<span>Completion time</span>}
            </th>
        </tr>
        <tr>
            <td id="pProjectStartDate">XX/XX/XXXX</td>
            <td id="pProjectCompletionDate">XX/XX/XXXX</td>
        </tr>
    </table>

    <br />

    <!--removed by rony-->

    <div class="row">
        <div class="col">
            <p>
                @if (prev_lang == "1")
                {<span>আমি নিশ্চিত ভাবে বলছি যে এই আবেদন এর সাথে সকল তথ্য এন্ড সংযুক্তি সঠিক এবং আমার জানামতে সর্বশেষ্ঠ।</span>}
                else
                {<span> I certify that the information and attachment provided with this application are correct to the best of my knowledge and belief. </span>}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                @if (prev_lang == "1")
                {<span>আবেদনকারীর স্বাক্ষর</span>}
                else
                {<span>Signature of Applicant</span>}
            </p>
            <p>----------------------</p>
            @if (prev_lang == "1")
            {
                <span id="pApplicantName">@ViewBag.ApplicantNameBn</span><br />
                <span id="pApplicantGroupName">@ViewBag.ApplicantGroupNameBn</span>
            }
            else
            {
                <span id="pApplicantName">@ViewBag.ApplicantName</span><br />
                <span id="pApplicantGroupName">@ViewBag.ApplicantGroupName</span>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#btnMapView').click(function () {
            var prevProjId = GetHiddenValue('pProjectId');
            var url = '@Url.Action("viewLocation", "map", new { projectId = "__id__" })';
            window.open(url.replace('__id__', prevProjId), '_blank');
        });

        var projectId = '@ViewBag.ProjectCommonDetail.ProjectId';        
        SetHiddenValue('pProjectId', projectId);

        if (projectId != '') {
            //pBindData();
            pGetProjLocationsData();
        }
    });
</script>

<script type="text/javascript">
    function pSetTextValue(control, val) {
        return jQuery('#' + control).text(val);
    }

    function pSetAnchorTextValue(control, val) {
        return jQuery('#' + control).attr('href', '../images/CommonDetails/' + val).text(val);
    }

    function pGetProjLocationsData() {
        var ProjectId = GetHiddenValue('pProjectId');
        var url = '@Url.Action("get_pld", "form")';

        jQuery.ajax({
            type: "GET",
            url: url,
            data: { project_id: ProjectId },
            dataType: "json",
            success: function (data, status, jqXHR) {
                console.log('Preview Location Data');
                console.log(data);

                if (data.length > 0) {
                    var rows = '';
                    var count = 0;

                    jQuery.each(data, function (i, item) {
                        ++count;
                        rows += '<tr><td scope="row" class="bold">' + count + '</td><td>' + item.unionName + '</td><td>' + item.upazilaName + '</td><td>' + item.districtName + '</td><td class="text-right">' + item.latitude + '</td><td class="text-right">' + item.longitude + '</td><td class="text-right"><a href="' + item.imageFileName + '" target="_blank">' + item.onlyImageFileName + '</a></td></tr>';
                    });

                    jQuery("#tbodyProjectLocationPreview").html(rows);
                } else {
                    jQuery("#tbodyProjectLocationPreview").html('<tr><td colspan="7" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, no data found </div></td></tr>');
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                jQuery("#tbodyProjectLocationPreview").html('<tr><td colspan="7" class="text-center text-red"><div class="alert alert-danger" role="alert">' + errorMsg + '</div></td></tr>');
            }
        });
    }

    function pBindData() {
        var projectId = '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectId)';
        console.log('projectId: ' + projectId);

        if (projectId != '') {
            console.log('ViewBag.ProjectCommonDetail.ProjectId Preview: ' + projectId);

            //General Info
            SetHiddenValue('pProjectId', projectId);

            SetHiddenValue('pProject32IndvId', '@Html.Raw(ViewBag.ProjectIndvDetail32.Project32IndvId)');
            SetHiddenValue('pUserId', '@Html.Raw(ViewBag.ProjectCommonDetail.UserId)');
            SetHiddenValue('pProjectTypeId', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectTypeId)');

            pSetTextValue('pProjectName', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectName)');
            pSetTextValue('pBackgroundAndRationale', '@Html.Raw(ViewBag.ProjectCommonDetail.BackgroundAndRationale)');
            pSetTextValue('pProjectTarget', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectTarget)');
            pSetTextValue('pProjectObjective', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectObjective)');
            pSetTextValue('ProjectActivity', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectActivity)');
            pSetTextValue('pProjectStartDate', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectStartDate)');
            pSetTextValue('pProjectCompletionDate', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectCompletionDate)');
            pSetTextValue('pProjectEstimatedCost', '@Html.Raw(ViewBag.ProjectCommonDetail.ProjectEstimatedCost)');
        }
    }
</script>